{% load static  %}  
<script src="{% static 'music/js/calculator_slider.js' %}" type="text/javascript" defer async></script>
<section  class="pl-md-7 pb-10 pb-lg-n12 pt-5 pt-md-5 pt-lg-0 pl-lg-0 pr-lg-0  pr-0 mb-3 mb-md-0 mb-lg-n14 bg-faq">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title text-uppercase text-left  font-weight-bolder text-bluish px-0 pl-md-12  pr-md-10 pl-lg-0 pr-lg-0 mx-0 mx-md-0 ml-lg-11  mb-lg-0 mt-lg-7 d-none d-md-block" style="z-index: 999999 !important;">
                            Savings based on unlimited data, unlimited talk & unlimited text
                        </h2>
                        <h3 class="card-title text-uppercase text-center  font-weight-bolder text-bluish px-0 pl-md-4 pr-md-14 pl-lg-8 pr-lg-8 mx-0 mx-md-0 mx-lg-11 mt-lg-7 d-block d-md-none">
                            Savings based on unlimited data, unlimited talk & unlimited text
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3 d-none d-lg-block">
                        <img class="img-w-650 img-w-750-md img-w-860  position-relative left-n140px left-n140-md top-n80px top-n80px-md  ml-lg-n14 mt-lg-n10  d-none d-md-block people-image-calculator z-index-0 " src="{% static 'Landkit/images/v3/4.png' %}" alt="" style="z-index: -99999 !important;">
                    </div>
                    <div class="col-12 col-md-10 col-lg-9 px-4 pl-md-12 pl-lg-12 pr-lg-14">
                        <p class="card-text  font-size-lg text-bluish mt-2 mt-md-0 d-none d-lg-block" >
                            Who is your current carrier?
                        </p>

                        <p class="card-text text-center font-size-lg text-bluish mt-2 mt-md-0 d-block d-lg-none">
                            Who is your current carrier?
                        </p>
                        <div class="row pl-3      px-lg-5">
                            <div class="btn-group btn-group-toggle mx-md-auto" data-toggle="buttons">
                                <label class="btn btn-secondary w-100px  border-radius-6 mr-3 border-0 shadow">
                                  <input type="radio" name="options" id="options1" value="1" data-url="3210" onchange="updateSlider();"> Verizon
                                </label>
                                <label class="btn btn-secondary w-100px  border-radius-6 mr-3 border-0 shadow">
                                  <input type="radio" name="options" id="options2" value="2" data-url="321"
                                  onchange="updateSlider();"> T-Mobile
                                </label>
                                <label class="btn btn-secondary w-100px  border-radius-6 mr-3 border-0 shadow">
                                  <input type="radio" name="options" id="options3" value="3" data-url="231" onchange="updateSlider();"> AT&T
                                </label>
                                <label class="btn btn-secondary w-100px  border-radius-6 mr-3 border-0 shadow active">
                                    <input type="radio" name="options" id="options4" value="4" data-url="2319" onchange="updateSlider();" checked > Other
                                  </label>
                              </div>
                        </div>
                        <p class="card-text text-bluish  mt-5 font-size-lg mb-0 text-nowrap d-none d-lg-block" >
                            How many people are on your plan?
                        </p>
                        <p class="card-text text-center text-bluish  mt-5 font-size-lg mb-0 text-nowrap d-block d-lg-none" >
                            How many people are on your plan?
                        </p>
                        <div class="row px-4 px-lg-5">
                            <div class="btn-group btn-group-toggle btn-pill p-2 mt-2 mx-width-400px w-350px mx-md-auto" data-toggle="buttons" id="btn-group" >
                                <label class="btn btn-secondary  text-center btn-sm active btn-rounded-circle mr-6 ml-2 pr-4 pr-md-4 pr-lg-5 pl-4 pb-0 bottom-0 w-37px h-42_5px border-0" style="height: 41px !important;" >
                                  <input type="radio" name="options_accounts" id="options_accounts1" value="1" data-url="3210"  onchange="updateSlider();" checked>
                                  1
                                </label>
                                <hr class="text-white ml-8 position-absolute w-52px border-width-3px mt-1_3rem border border-secondary" >
                               <button class="btn btn-lg btn-rounded-circle  btn-light bg-transparent mr-3 pt-0 pb-0 mb-0"> 
                                <label class="btn btn-secondary btn-lg  btn-rounded-circle btn-sm  shadow p-3 pr-5 pl-4 pb-0 mb-0 border-0" >
                                  <input type="radio" name="options_accounts" id="options_accounts2" value="2" data-url="321"
                                  onchange="updateSlider();">
                                    2
                                </label>
                              </button>
                               <hr class="text-white ml-8 position-absolute w-53px border-width-3px mt-1_3rem left-101px border border-secondary" style="left: 96px;">
                               <button class="btn btn-lg btn-rounded-circle btn-light bg-transparent  mr-3 pt-0 pb-0 mb-0">
                                <label class="btn btn-secondary  btn-lg btn-rounded-circle btn-sm  shadow p-3 pr-5 pl-4 pb-0 mb-0 border-0">
                                  <input type="radio" name="options_accounts" id="options_accounts3" value="3" data-url="231" onchange="updateSlider();" >
                                  3
                                </label>
                              </button>
                              <hr class="text-dark ml-7 position-absolute w-53px border-width-3px mt-1_3rem left-193px border border-secondary" >
                               <button class="btn btn-lg btn-rounded-circle btn-light bg-transparent pt-0 pb-0 mb-0 pr-0">
                                <label class="btn btn-secondary btn-lg  btn-rounded-circle btn-sm shadow p-3 pr-5 pl-4 pb-0 mb-0 border-0">
                                  <input type="radio" name="options_accounts" id="options_accounts4" value="4" data-url="2319" onchange="updateSlider();" >
                                  4
                                </label>
                              </button>
                             </div>
                        </div>
                        <p class="card-text text-bluish  mt-2 font-size-lg text-nowrap d-none d-lg-block">
                            How much do you pay for your current plan together?
                        </p>
                        <p class=" card-text text-center text-bluish  mt-2  d-block d-lg-none">
                            How much do you pay for your current plan together?
                        </p>
                        <div class="row px-4  px-lg-5">
                            <input type="text"  placeholder="Input..." class="form-control bg-white text-dark border border-dark col-12 col-md-12 col-lg-12 shadow-lg" name="totalcostAmount" onkeyup="updateSlider();" value="80" maxlength="6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3 pl-0 mt-3 mt-md-3 mt-lg-0 pl-md-2">
                <div class="card mt-0 ml-7 ml-md-14 ml-lg-0 mt-lg-10 br-none d-none d-lg-block calc-card bg-transparent" >
                    <img src="{% static 'Landkit/images/v3/5.png' %}" class="card-img position-absolute-card-image" alt="Circledin" style="z-index: -9999999 !important;">
                    <div class="card-body text-center pr-md-10 pr-lg-0 padding-980-left-0 left-980-width-21 ">
                        <h2 class="h2 card-text text-uppercase font-weight-bolder text-white">
                            Estimated Savings
                        </h2>
                        <span class="h1 mb-0 mt-2 font-weight-bold text-white display-3" id="dollar_results">$</span>
                        <span class="h1 price mb-0 font-weight-bold text-white display-3" data-annual="0" data-monthly="0" id="savings_amount">0</span>
                        <span class="h1 align-self-end mb-1 font-weight-bold text-white display-3" id="year_results">/YR</span>
                        <span class="h5 mb-0 d-none font-weight-bold text-left font-size-sm text-white" id="negative_results">Looks like you already have a great deal! You might want to compare what you’re getting on your plan compared to one of ours</span>
                    </div>
                </div>
                <div class="row d-block d-lg-none">
                    <div class="col-12 col-md-10 ">
                        <div class="card  pl-md-0 ml-2 ml-md-9 bg-shade-lighter-greenish box-shadow-lighter-greenish">
                            <div class="card-body text-center" >
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <h2 class="h2 card-text text-uppercase font-weight-bolder display-4 text-bluish px-0 mx-0">
                                            Estimated Savings
                                        </h2>
                                    </div>
                                    <div class="col-12 col-md-6" id="mobileView">
                                        <span class="h1 mb-0 mt-2 font-weight-bold  text-bluish display-4" id="dollar_results">$</span>
                                        <span class="h1 price mb-0 font-weight-bold text-bluish display-4" data-annual="0" data-monthly="0" id="savings_amount">0</span>
                                        <span class="h1 align-self-end mb-1 font-weight-bold text-bluish display-4" id="year_results">/YR</span>
                                        <span class="h5 mb-0 d-none font-weight-bold text-left font-size-sm text-bluish" id="negative_results">Looks like you already have a great deal! You might want to compare what you’re getting on your plan compared to one of ours</span>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% block javascript %}
<script>
$(document).ready(function () {var $input = $('[name="totalcostAmount"]');$input.on("keyup", function (event) {var $this = $(this);var input = $this.val();var input = input.replace(/[\D\s\._\-]+/g, "");var split = 6;var chunk = [];for (var i = 0, len = input.length; i < len; i += split) {chunk.push(input.substr(i, split));}$this.val(function () {return chunk.join("-").toUpperCase();});});});
</script>
{% endblock javascript %}