{% load static %}
<section class="pb-2 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col mx-lg-2">
                <div class="row">
                  <img src="{% static 'Landkit/images/v3/9.png' %}" alt="Circledin">  
                </div>
                <div class="row mb-1">
                    <h2 class="card-title text-uppercase text-center text-bluish font-weight-bold mb-1">Customer Reviews</h2>
                </div>
                <div class="row">
                    <p class="h3 text-center text-bluish">
                        The results are in... satisfied customers across the country.
                        <br>
                        <span class="h3 text-center text-bluish">Click to see their reviews.</span>
                    </p>
                    
                </div>  
            </div>
            <div class="col mx-lg-3">
                <div class="row">
                  <img src="{% static 'Landkit/images/v3/10.png' %}" alt="Circledin">  
                </div>
                <div class="row mb-1 px-lg-4">
                    <h2 class="card-title text-uppercase text-center text-bluish font-weight-bold mb-1">Circledin Cares</h2>
                </div>
                <div class="row">
                    <p class="h3 text-center text-bluish">
                        Here at Circledin we promise to donate 1% of our profits to a charitable foundation, dedicate 1% of our time to volunteering and to provide a white glove experience for users to ensure you are completely satisfied with our services.
                    </p>
                    
                </div>  
            </div>
            <div class="col mx-lg-3">
                <div class="row">
                  <img src="{% static 'Landkit/images/v3/11.png' %}" alt="Circledin">  
                </div>
                <div class="row mb-1">
                    <h2 class="card-title text-uppercase text-center text-bluish font-weight-bold mb-1">Customer Service</h2>
                </div>
                <div class="row">
                    <p class="h3 text-center text-bluish">
                        For all of your urgent and important questions. Click to get in touch with a Circledin representative!
                    </p>
                    
                </div>  
            </div>
        </div>
    </div>
</section>


<section class="d-block d-md-none mt-n7 px-2 mt-md-0 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="card-title text-uppercase font-weight-bold mb-0 text-bluish">
                    <i class="fas fa-angle-double-right fa-lg"></i> Customer Reviews
                </h2>
            </div>
            <div class="col-12">
                <h2 class="card-title text-uppercase font-weight-bold mb-0 text-bluish">
                    <i class="fas fa-angle-double-right fa-lg"></i> Customer Cares
                </h2>
            </div>
            <div class="col-12">
                <h2 class="card-title text-uppercase font-weight-bold mb-0 text-bluish">
                    <i class="fas fa-angle-double-right fa-lg"></i> Customer Service
                </h2>
            </div>
        </div>
    </div>

</section>