{% load static humanize FindSubUser findNextYear findNextMonth findPaymentCurrentDay FindCategoryPlanInfo separate_plan_paranthese mathfilters FindPlanFixedPrice %}
{% with x=j.familySize y=j.currentFamilySize %}

<div class="col-12 col-md-6 col-lg-4 col-xl-3    min-width-xs max-width-xs min-width-google  max-width-google  min-width-sm  max-width-sm min-width-lg max-width-lg {{ j.category.slug }}" >
<div class="card p-0 shadow-light my-7 bg-white position-relative h-100 rounded-lg border-radius-top-16  ">
<div class="card-header align-items-center   border-radius-16 {% if j.total_slots != 0 %} {% if j.category.Name == 'Verizon' %} bg-verizon-plan-card {% elif j.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card {% else %} bg-success {% endif %}  {% else %} bg-danger {% endif %} position-relative pt-2 py-2 rounded-lg " style="min-height: 140px !important;" >
{% if j.total_slots != 0 %}
    <div class="row justify-content-center mx-auto text-center"  >
        <span class="h3 mb-1 text-white font-weight-bolder mx-auto mt-3 mb-2" >
            {{ j.category.Name }} - {{ j.id|FindCategoryPlanInfo }} 
        </span>
    </div>
{% endif %}
<div class="row justify-content-center text-white "  {%  if j.total_slots == 0   %} style="margin-top:30x !important ;" {% endif %}>
{%  if j.total_slots != 0   %}
<span class="h2 mb-0 mt-2 font-weight-bolder" >+</span>
{% endif %}                

{%  if j.total_slots != 0   %}
<span class="price h2  mb-0 font-weight-bold mt-2 mr-2" data-annual="0" data-monthly="0">
    {{ j.total_slots }}
</span>
{% else %}
<span class="price display-2 mb-0 font-weight-bold my-3 mx-auto" data-annual="0" data-monthly="0">
    FULL 
</span>
 {% endif %}
{%  if j.total_slots != 0   %}
<span class="h2 price  mt-2 font-weight-bold">Spots Left</span>
{% endif %}
</div>
</div>
<div class="card-body text-left mb-7">
<div class="position-relative text-right mt-n8 mr-n6 mb-3">
<span class="badge {% if  j.total_slots != 0 %}{% if j.category.Name == 'Verizon' %} badge-Verizon-bg {% elif j.category.Name == 'T-Mobile' %} badge-T-Mobile-bg {% else %} badge-danger {% endif %} {% else %} bg-Puerto-Rico {% endif %}">
<span class="h5 text-uppercase font-weight-bolder">
    {% if  j.get_category_average_switch_value %}
        ${{ j.get_category_plan_value_for_subscription|floatformat:2|intcomma  }}/MO
    {% else %}
        ${{ j.id|FindPlanFixedPrice|floatformat:2|intcomma }}/MO
    {% endif %}
</span>
</span>
</div>
<div class=" justify-content-left text-left mt-7 media position-relative align-items-center">
<img src="{% static 'Landkit/images/Plan/1.webp' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
<div class="media-body"><span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"1" }}</span></div>
</div>
<div class="justify-content-left text-left mt-1 media position-relative align-items-center">
<img src="{% static 'Landkit/images/Plan/2.webp' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
<div class="media">
<span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"2" }}</span>
</div>
</div>
<div class="justify-content-left text-left mt-1 media position-relative align-items-center">
<img src="{% static 'Landkit/images/Plan/3.webp' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
<div class="media-body">
<span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"3" }}</span>
</div> 
</div>
<div class="justify-content-left text-left mt-1 media position-relative align-items-center">
<img src="{% static 'Landkit/images/Plan/4.webp' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
<div class="media-body">
<span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"4" }}</span>
</div>
</div>
<div class=" justify-content-left text-left mt-1     media position-relative align-items-center">
<img src="{% static 'Landkit/images/Plan/5.webp' %}" style="width:30px;"  class="mr-3" loading="lazy"  alt="plan image">
<div class="media-body">
<span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"5" }}</span>
</div>  
</div>
</div>
<div class="card-footer m-0 text-left pt-lg-10 " style="position: absolute; bottom: -10px;">
    <div class="row ">
        <div class="col">
            {%  if j.total_slots != 0   %}
                <a class="btn-link btn btn-lighter-greenish text-uppercase text-decoration-none p-1 pl-3 pr-3" href="{% url 'Join' i.id j.id %}" target="_blank">More Details </a>
            {% else %} 
                <a  href="#!" class="btn-link btn btn-lighter-greenish text-uppercase text-decoration-none p-1 pl-3 pr-3">FULL</a>
            {% endif %}
        </div>

            
            {% if j.linkWeb.stripe != "" and  "youtube" not in  j.linkWeb.stripe %}
            <div class="col-2" >
                <a class="btn btn-round btn-lighter-greenish p-2 pl-3 pr-3 text-decoration-none" data-src='"{{ j.linkWeb }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen'
                href='javascript:;' target="_blank" data-fancybox>
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            {% endif %}
            
        
    </div>
    
</div>
</div>
</div>

{% endwith %}