{% autoescape off %}
{% include 'music/home_filter.html' %}
{% if categories %}
<section class="p-0 bg-light-green-shade mb-md-5" >
  <div class="container">
    <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}' style="height: auto;">
      {% for i in categories  %}
        {% if i.get_plans_not_on_leave %}
          {% for j in i.get_plans_not_on_leave %}
            {% include "music/home_plan_flat.html" with j=j %}
            {% if forloop.last %}
              <div class="col-12 col-md-6 col-lg-4 bg-transparent plan_name mb-8 pb-8 {{ j.category.slug }} d-none"
                id="btn_{{ j.category.slug }}">
                <div class="card bg-transparent mt-3 h-100 box-shadow-none bg-none" >
                  <div class="card-body text-left mb-0 pb-0 text-center bg-transparent">
                    <button class="btn btn-lg btn-rounded-circle btn-success  mt-10 font-size-4_5rem"
                      {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"
                      onclick="PlanCreationFunction('{{ i.slug }}', '{{ i.id }}');" {% else %} data-toggle="modal"
                      data-target="#modalSigninHorizontal" {% endif %} >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 bg-transparent plan_name mb-8 pb-8 {{ i.slug }} d-none"
          id="btn_{{ i.slug }}">
          <div class="card bg-transparent mt-3 h-100 box-shadow-none bg-none" >
            <div class="card-body text-left mb-0 pb-0 text-center bg-transparent">
              <button class="btn btn-lg btn-rounded-circle btn-success  mt-10 font-size-4_5rem"
                {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"
                onclick="PlanCreationFunction('{{ i.slug }}', '{{ i.id }}');" {% else %} data-toggle="modal"
                data-target="#modalSigninHorizontal" {% endif %}>
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          </div>
        {% endif %}
        {% if forloop.last %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 bg-transparent plan_name mb-8 pb-8 ">
            <div class="card bg-transparent  mt-3 h-100 box-shadow-none bg-none" >
              <div class="card-body text-left mb-0 pb-0 text-center bg-transparent">
                <button class="btn btn-lg btn-rounded-circle btn-success  mt-10 font-size-4_5rem"
                  {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"
                  onclick="PlanCreationFunction('None', 'None');" {% else %} data-toggle="modal"
                  data-target="#modalSigninHorizontal" {% endif %} >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endautoescape %}