{% load static humanize FindSubUser findNextYear findNextMonth findPaymentCurrentDay FindCategoryPlanInfo separate_plan_paranthese mathfilters FindPlanFixedPrice %}
{% autoescape off %}

{% include 'music/home_filter.html' %}

<style>
  

  .carousel-cell {
    width: 100%; /* half-width */
    /* min-height: 700px;
    max-height: 700px; */
    margin-right: 10px;
  }

  .flickity-button{
    background-color: #287777 !important;
  }



  /* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .flickity-prev-next-button {
  width: 40px;
  height:40px;
  top:500px !important;
}

.flickity-prev-next-button.next{
  left: 254px !important;
}

.flickity-prev-next-button.previous{
  left: -16px !important;
}




}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  .flickity-prev-next-button {
  width: 40px;
  height:40px;
  top:500px !important;
}

.flickity-prev-next-button.next{
  left: 254px !important;
}

.flickity-prev-next-button.previous{
  left: -16px !important;
}
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .flickity-prev-next-button {
  width: 40px;
  height:40px;
  top:500px !important;
}

.flickity-prev-next-button.next{
  left: 254px !important;
}

.flickity-prev-next-button.previous{
  left: -16px !important;
}
}
  
  
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
  

    .carousel-cell {
    width: 50%; /* half-width */
    /* min-height: 700px;
    max-height: 700px; */
    margin-right: 0px;
    right: -150px !important;
  }


  .carousel-cell:last-child {
    width: 20% !important;
  }
  

    .carousel-cell>.col-12>.card{
    width: 250% !important;
  }

 
  .flickity-prev-next-button {
  width: 40px;
  height:40px;
  top:540px !important;
}

.flickity-prev-next-button.next{
  left: 644px !important;
}

.flickity-prev-next-button.previous{
  left: -16px !important;
}
  
  }
  
  
  
  </style>

{% if categories %}
<section class="p-0 bg-light-green-shade pb-5 d-none d-lg-block" >
  <div class="container">
    
    <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}' style="height: auto;" >
      
      {% for i in categories  %}
        {% if i.get_plans_not_on_leave %}
          {% for j in i.get_plans_not_on_leave %}
            {% include "music/home_plan_flat.html" with j=j %}
            {% if forloop.last %}
              <div class="col-12 col-md-6 col-lg-4 bg-transparent plan_name mb-8 pb-8 {{ j.category.slug }} d-none"
                id="btn_{{ j.category.slug }}">
                <div class="card bg-transparent mt-3 h-100 box-shadow-none bg-none" >
                  <div class="card-body text-left mb-0 pb-0 text-center bg-transparent">
                    <button class="btn btn-lg btn-rounded-circle btn-success  mt-10 font-size-4_5rem"
                      {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"
                      onclick="PlanCreationFunction('{{ i.slug }}', '{{ i.id }}');" {% else %} data-toggle="modal"
                      data-target="#modalSigninHorizontal" {% endif %} >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 bg-transparent plan_name mb-8 pb-8 {{ i.slug }} d-none"
          id="btn_{{ i.slug }}">
          <div class="card bg-transparent mt-3 h-100 box-shadow-none bg-none" >
            <div class="card-body text-left mb-0 pb-0 text-center bg-transparent">
              <button class="btn btn-lg btn-rounded-circle btn-success  mt-10 font-size-4_5rem"
                {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"
                onclick="PlanCreationFunction('{{ i.slug }}', '{{ i.id }}');" {% else %} data-toggle="modal"
                data-target="#modalSigninHorizontal" {% endif %}>
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          </div>
        {% endif %}
        {% if forloop.last %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 bg-transparent plan_name mb-8 pb-8 ">
            <div class="card bg-transparent  mt-3 h-100 box-shadow-none bg-none" >
              <div class="card-body text-left mb-0 pb-0 text-center bg-transparent">
                <button class="btn btn-lg btn-rounded-circle btn-success  mt-10 font-size-4_5rem"
                  {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"
                  onclick="PlanCreationFunction('None', 'None');" {% else %} data-toggle="modal"
                  data-target="#modalSigninHorizontal" {% endif %} >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
      
    </div>
  
  </div>
</section>









<section class="d-block d-lg-none bg-faq" style="background: linear-gradient(180deg, white 50%, #EFF4F4 50%);"> 
  <div class="main-carousel mx-8 px-0  mx-lg-14"  data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "prevNextButtons": true }'>
    {% for i in categories  %}
        {% if i.get_plans_not_on_leave %}
          {% for j in i.get_plans_not_on_leave %}
          {% with x=j.familySize y=j.currentFamilySize %}
          <div class="carousel-cell">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 min-width-xs max-width-xs min-width-google  max-width-google  min-width-sm  max-width-sm min-width-lg max-width-lg {{ j.category.slug }}" >
          <div class="card p-2 shadow-light my-7 bg-white position-relative mx-md-10">
          <div class="card-header align-items-center {% if j.total_slots != 0 %} bg-success {% else %} bg-danger {% endif %} position-relative pt-2 pl-2" style="min-height: 140px !important;" >
          {% if j.total_slots != 0 %}
              <div class="justify-content-left"  >
                  <span class="h5 align-self-end mb-1 text-white font-weight-bold">
                      {{ j.category.Name }} - {{ j.id|FindCategoryPlanInfo }} 
                  </span>
              </div>
          {% endif %}
          <div class=" justify-content-center text-white pl-8 "  {%  if j.total_slots == 0   %} style="margin-top:30x !important ;" {% endif %}>
          {%  if j.total_slots != 0   %}
          <span class="h6 mb-0 mt-4 font-weight-bold"  style="font-size: 1.55rem !important;"> <i class="fas fa-plus"></i></span>
          {% endif %}                
          <span class="price display-4 mb-0 font-weight-bold " data-annual="0" data-monthly="0">
          {%  if j.total_slots != 0   %}{{ j.total_slots }}{% else %} FULL {% endif %}
          </span>
          {%  if j.total_slots != 0   %}
          <span class="h6 align-self-start mt-1">Spots Left</span>
          {% endif %}
          </div>
          </div>
          <div class="card-body text-left mb-7">
          <div class="position-relative text-right mt-n8 mr-n4 mb-3">
          <span class="badge badge-pill badge-danger {% if  j.total_slots == 0 %} bg-Puerto-Rico {% endif %}">
          <span class="h5 text-uppercase">${{ j.id|FindPlanFixedPrice|intcomma }}/MO</span>
          </span>
          </div>
          <div class=" justify-content-left text-left mt-7 media position-relative align-items-center">
          <img src="{% static 'Landkit/images/Plan/1.png' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
          <div class="media-body"><span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"1" }}</span></div>
          </div>
          <div class="justify-content-left text-left mt-1 media position-relative align-items-center">
          <img src="{% static 'Landkit/images/Plan/2.png' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
          <div class="media">
          <span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"2" }}</span>
          </div>
          </div>
          <div class="justify-content-left text-left mt-1 media position-relative align-items-center">
          <img src="{% static 'Landkit/images/Plan/3.png' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
          <div class="media-body">
          <span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"3" }}</span>
          </div> 
          </div>
          <div class="justify-content-left text-left mt-1 media position-relative align-items-center">
          <img src="{% static 'Landkit/images/Plan/4.png' %}" style="width:30px;" class="mr-3" loading="lazy"  alt="plan image">
          <div class="media-body">
          <span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"4" }}</span>
          </div>
          </div>
          <div class=" justify-content-left text-left mt-1     media position-relative align-items-center">
          <img src="{% static 'Landkit/images/Plan/5.png' %}" style="width:30px;"  class="mr-3" loading="lazy"  alt="plan image">
          <div class="media-body">
          <span class="h6 align-self-start mt-1">{{ j.id|FindCategoryPlanInfo:"5" }}</span>
          </div>  
          </div>
          </div>
          <div class="card-footer m-0 text-left pt-lg-10 " style="position: absolute; bottom: -10px;">
              <div class="row">
                  <div class="col-9">
                      {%  if j.total_slots != 0   %}
                          <a class="h6 font-size-sm btn-link btn btn-lighter-greenish text-uppercase text-decoration-none p-1 pl-3 pr-3" href="{% url 'Join' i.id j.id %}" target="_blank" style="font-size: 0.8rem !important;">More Details </a>
                      {% else %} 
                          <a  href="#!" class="btn-link btn btn-lighter-greenish text-uppercase text-decoration-none p-2 pl-3 pr-3">FULL</a>
                      {% endif %}
                  </div>
                  
                      <div class="col-2 pl-0" >
                          <a class="btn btn-round btn-lighter-greenish p-2 pl-3 pr-3 text-decoration-none" data-src='"{{ j.linkWeb }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen'
                          href='javascript:;' target="_blank" data-fancybox>
                              <i class="fab fa-youtube"></i>
                          </a>
                      </div>
                  
              </div>
              
          </div>
          </div>
          </div>
          
        </div>
          {% endwith %}
          
          {% endfor %}
        {% endif %}
    {% endfor %}
    <div class="carousel-cell">

    </div>
  </div>
  
</section>




{% endif %}















{% endautoescape %} 