{% load static %}
<section  class="pt-10 pt-md-14  pb-12 pb-md-15  bg-light-green-shade" >
  <div class="container ">
    <div class="row justify-content-center mt-8 mt-md-8 mt-lg-8 mt-xl-8 ">
      <div class="mobile">
        <h2 class="mobile font-weight-200 text-color-white mb-0">
          Stop overpaying on your
        </h2>
        <h2 class="mobile font-weight-200 text-color-white mb-1">
          monthly cell phone bill
        </h2>
        <span class="mobile font-weight-200 text-color-white">
          Keep your existing plan. Group together and save together by joining a circle below!
        </span>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 px-12 px-md-0 px-lg-0 px-xl-0">
        <h2 class="font-weight-200 text-color-white mb-0">
          Stop overpaying on your
        </h2>
        <h2 class="font-weight-200 text-color-white mb-1">
          monthly cell phone bill
        </h2>
        <span class="font-weight-200 text-color-white">
          Keep your existing plan. Group together and save together by joining a circle below!
        </span>
      </div>
      <div class="desktop col-12 col-md-4 text-center mt-8 mb-8">
        <a data-src='https://www.youtube.com/embed/ms2k9Uw8dWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen'
          href='javascript:;' class="btn btn-pill btn-white shadow lift Turquoise-bg-color text-color-white"
          target="_blank" data-fancybox>
          <i class="fe fe-eye mr-2"></i>
          See how it works
        </a>
      </div>
      <div class="mobile1 col-12 col-md-6 col-lg-4 text-center mt-7 mb-9 ml-10">
        <a data-src='https://www.youtube.com/embed/ms2k9Uw8dWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen'
          href='javascript:;' class="btn btn-pill btn-white shadow lift Turquoise-bg-color text-color-white"
          target="_blank" data-fancybox>
          <i class="mobile1 fe fe-eye mr-2"></i>
          See how it works
        </a>
      </div>
      <div class="desktop1 col-12 col-md-4 text-center mt-n10">
        <img class="img-fluid-cus mt-7" src="{% static 'Landkit/images/Homepage Before After.png' %}"
          alt="Homepage Before After.png" >
      </div>
      <div class="mobile2 col-12 col-md-8 col-lg-4  text-center mt-n7">
        <img class="mobile22 img-fluid-cus mt-5" src="{% static 'Landkit/images/Homepage Before After.png' %}"
          alt="Homepage Before After.png">
      </div>
    </div>
  </div>
</section>