{% load static %}
<section class=" d-none d-md-block bg-light-green-shade" style="max-height: 650px !important;">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col">
                <h1 class="card-title text-center text-uppercase font-weight-bold display-3 text-white">
                    <img class="icon" src="{% static 'Landkit/images/v3/titleicon.png' %}" alt="circledin"> Circledin To save together!
                </h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-5 col-xl-3">
                <div class="row pl-0 pl-md-4 pl-xl-0" >
                    <img class="diverse-2  ml-lg-0" data-toggle="tooltip"
                    src="{% static 'Landkit/images/v3/addin.png' %}" alt="circledin" style="bottom: 0px !important;">
                <img class="img-w-350-md img-w-500  ml-md-n3 mr-md-0 mx-lg-auto diverse" data-toggle="tooltip"
                    src="{% static 'Landkit/images/v3/7.png' %}" alt="circledin" style="bottom: 0px !important;">    
                </div>
            </div>
            <div class="col-12 col-md-7  mt-0 mt-md-0 px-5 px-md-5  pl-lg-14  ml-lg-10">
                <h1 class="card-title text-uppercase font-weight-bold mb-0 display-4 text-white">
                    Join an Existing Plan
                </h1>
                <p class="font-size-lg card-text pr-0 pr-lg-12 text-white">
                    Looking to save? Find a plan that best suits your needs and join that account to enjoy savings per line. We'll handle the rest!
                </p>
                <h1 class="card-title text-uppercase font-weight-bold mb-0  display-4 text-white">
                    Post Your Account
                </h1>
                <p class="font-size-lg card-text pr-0 pr-lg-13 text-white">
                    Have a few extra slots on your account? Post your account for others to join and enjoy savings of line. We'll handle the rest!  
                </p>

                
                
                <a class="btn btn-light-greenish col-12 col-lg-8 btn-lift pt-1 pb-1" type="button" href="{% url 'how-it-works-url' %}" title="circledin" target="_blank">Learn More</a>
                <p class="font-size-lg card-text mt-2 pr-lg-13 text-white">
                    We guarantee timely payments each month so that there are no disruptions to your mobile services.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-image-colored-md bg-image-colored no-background-image d-block d-md-none" style="max-height: 650px !important;">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-auto">
                <img class="icon" src="{% static 'Landkit/images/v3/titleicon.png' %}" alt="circledin"> 
            </div>
            <div class="col mx-0 px-0">
                <h4 class="card-title text-left text-uppercase font-weight-bold display-3 text-bluish pl-0 pr-3 mx-0">
                    Circledin To save together!
                </h4>
            </div>
        </div>
        <div class="row mb-2">

            <div class="col-12 col-md-7  mt-0 mt-md-0 px-5 px-md-5  pl-lg-14  ml-lg-10">
                <h2 class="card-title text-uppercase font-weight-bold mb-0 text-bluish">
                    Join an Existing Plan <i class="fas fa-angle-double-right fa-lg"></i>
                </h2>
                
                <h2 class="card-title text-uppercase font-weight-bold mb-0 mt-2 text-bluish">
                    Post Your Account <i class="fas fa-angle-double-right fa-lg"></i>
                </h2>
                <p class="font-size-lg card-text mt-2 pr-lg-13 font-weight-bolder">
                    * We guarantee timely payments each month so that there are no disruptions to your mobile services.
                </p>
            </div>
            
        </div>
    </div>
</section>