{% load static %}
<section class="bg-image-colored no-background-image" style="max-height: 650px !important;">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col">
                <h1 class="card-title text-center text-uppercase font-weight-bold display-3">
                    <img class="icon" src="{% static 'Landkit/images/v3/titleicon.png' %}" alt="circledin"> Circledin To save together
                </h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-5 col-xl-3">
                <div class="row pl-0 pl-md-4 pl-xl-0" >
                    <img class="diverse-2" data-toggle="tooltip"
                    src="{% static 'Landkit/images/v3/addin.png' %}" alt="circledin" style="bottom: 0px !important;">
                <img class="img-w-500 mx-auto diverse" data-toggle="tooltip"
                    src="{% static 'Landkit/images/v3/7.png' %}" alt="circledin" style="bottom: 0px !important;">    
                </div>
            </div>
            <div class="col-12 col-md-7  mt-0 mt-md-0 px-5 px-md-5  pl-lg-14  ml-lg-10">
                <h1 class="card-title text-uppercase font-weight-bold mb-0 display-4">
                    Join an Existing Plan
                </h1>
                <p class="font-size-lg card-text pr-0 pr-lg-12">
                    Looking to save? Find a plan that best suits your needs and join that account to enjoy savings per line. We'll handle the rest!
                </p>
                <h1 class="card-title text-uppercase font-weight-bold mb-0  display-4">
                    Post Your Account
                </h1>
                <p class="font-size-lg card-text pr-0 pr-lg-13 ">
                    Have a few extra slots on your account? Post your account for others to join and enjoy savings of line. We'll handle the rest!  
                </p>

                
                
                <a class="btn btn-success col-12 col-lg-8 btn-lift pt-1 pb-1" type="button" href="{% url 'how-it-works-url' %}" title="circledin" target="_blank">Learn More</a>
                <p class="font-size-lg card-text mt-2 pr-lg-13">
                    We guarantee timely payments each month so that there are no disruptions to your mobile services.
                </p>
            </div>
        </div>
    </div>
</section>