<section  class="bg-light-green-shade pb-md-5 pb-lg-0" >
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-uppercase text-white display-3 mt-6 font-weight-bolder text-shadow-bluish d-none d-md-block">
          Join a family below

        </h1>
        <h2 class="text-uppercase text-white display-4 mt-6 mx-auto font-weight-bolder text-shadow-bluish d-block d-md-none">
          Join a family below

        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-3 col-lg-6 pt-5 pb-5 ml-0 mr-0 ml-md-8 ml-lg-0">
          <div class="row align-items-center ">
            <nav class="nav justify-content-center bg-transparent pt-2 pl-2 pr-2 br-all-10">    
            {% for category in filters %}
              {% if forloop.first %}
              <a class="btn btn-success  mr-1 mb-1 active p-1 w-120px" href="#" data-toggle="pill" data-filter="*" data-target="#portfolio" id="all" >
                <span class="h4 " >All</span>
              </a>
              {% endif %}
              <a class="btn btn-success mr-1 mb-1 p-1 w-120px" href="#" data-toggle="pill" data-filter=".{{ category.slug }}" data-target="#portfolio" id="{{ category.slug }}" >
                <span class="h4 ">{{ category.Name }}</span>
              </a>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </section>