{% extends 'Base.html' %} 
{% load static humanize FindSubUser findNextYear findNextMonth FindCategoryPlanInfo %} 
{% block content %} 
{% include "music/home_top_section.html" %} 
{% include "music/home_plan_cards_section.html" %} 
{% include "music/calculator_section_v3.html" %} 
{% include "music/home_middle_v3.html" %}
{% include "music/home_faq_section.html" %} 
{% include "music/home_bottom_section.html" %} 
{% include "Landkit/footer.html" %} 
{% block javascript %}{% autoescape off %}<script>setTimeout(function(){var script = document.createElement("script");script.src = "{% static 'Landkit/js/home_plan_filter.js' %}";script.defer=true;script.async=true;document.getElementsByTagName("head")[0].appendChild(script);});</script>{% endautoescape %}{% endblock javascript %}{% endblock content %}