{% load static %}
<section class="pb-2 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col mx-lg-2">
                <div class="row">
                  <img class="img-w-750-sm ml-md-n6 ml-lg-0" src="{% static 'Landkit/images/v3/9.png' %}" alt="Circledin">  
                </div>
                <div class="row mb-1 px-md-4 pl-md-6 px-lg-8 pl-lg-8">
                    <h3 class="card-title text-uppercase text-center text-bluish font-weight-bold mb-1 display-5">Customer Savings</h3>
                </div>
                <div class="row">
                    <p class="h5 text-center text-bluish px-md-4 pl-lg-6 pr-lg-8">
                        The results are in... satisfied customers across the country. We saved up to $4000 for users this past month!
                        
                    </p>
                    
                </div>  
            </div>
            <div class="col mx-lg-3">
                <div class="row">
                  <img class="img-w-750-sm ml-md-n6 ml-lg-0" src="{% static 'Landkit/images/v3/10.png' %}" alt="Circledin">  
                </div>
                <div class="row mb-1 px-md-6 pl-md-7 px-lg-9">
                    <h3 class="card-title text-uppercase text-center text-bluish font-weight-bold mb-1">Circledin Cares</h3>
                </div>
                <div class="row ">
                    <p class="h5 text-center text-bluish px-md-4 px-lg-5">
                        Here at Circledin we promise to donate 1% of our profits to a charitable foundation, dedicate 1% of our time to volunteering and to provide a white glove experience for users to ensure you are completely satisfied with our services.
                    </p>
                    
                </div>  
            </div>
            <div class="col mx-lg-3">
                <div class="row">
                  <img class="img-w-750-sm ml-md-n6 ml-lg-0" src="{% static 'Landkit/images/v3/11.png' %}" alt="Circledin">  
                </div>
                <div class="row mb-1 px-md-5 pl-md-6 px-lg-8">
                    <h3 class="card-title text-uppercase text-center text-bluish font-weight-bold mb-1">Customer Service</h3>
                </div>
                <div class="row">
                    <p class="h5 text-center text-bluish px-md-4 px-lg-5">
                        For all of your urgent and important questions. Click to get in touch with a Circledin representative!
                    </p>
                    
                </div>  
            </div>
        </div>
    </div>
</section>
