{% load static %}
<!-- !  IPADS + LARGE DEVICES -->
<section  class="pt-10 pt-md-11 pt-lg-11 pb-4 pb-md-0 pb-lg-0 px-lg-8 d-none d-md-block d-lg-block" >
  <div class="container">
    <div class="row justify-content-center mt-8 mt-md-8 mt-lg-8 mt-xl-8 ">
      <div class="col-12 col-md-6 col-lg-8 pl-0 pr-0 px-6 px-md-0 px-lg-0 mx-lg-0 ml-md-n11 ml-lg-n14">
        <div class="row">
          <h1 class="font-weight-bolder mb-0 text-uppercase display-3 text-bluish  ">
            Stop overpaying
          </h1>
        </div>
        <div class="row">
          <h1 class="font-weight-bolder text-dark mb-1 text-uppercase display-3 text-bluish ">
          on your monthly
        </h1>
      </div>
        <div class="row">
          <h1 class="font-weight-bolder text-dark mb-1 text-uppercase display-3 text-bluish  ">
          phone bill
        </h1>
      </div>
      <div class="row">
        <p class="h3 text-dark pr-md-8 pr-lg-13  mb-0 d-none d-md-none d-lg-block ">
          Group together and save together  
        </p>
        <p class="text-dark h3 mt-0 d-none d-md-none d-lg-block ">
          by joining a circle below!
        </p>
        <p class="text-dark d-none d-md-block d-lg-none my-0">
          Group together and save together 
        </p>
        <p class="text-dark my-0 d-none d-md-block d-lg-none">
          by joining a circle below!
        </p>
      </div>  
        
      </div>
      
      <div class="col-12 col-md-5 text-center mt-n10 mt-md-n7 mt-lg-n10 mt-xl-n12 ml-n13 ml-md-n11 ml-lg-n15   pt-lg-0">
        <img class="home-page-top-section-image" src="{% static 'Landkit/images/v3/1.png' %}"
          alt="Circledin" >
      </div>
      
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 text-center mt-n9  mt-md-0 mt-ipad-pro-27 mt-lg-n11 mb-md-5">
        <a data-src='https://www.youtube.com/embed/ms2k9Uw8dWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen'
          href='javascript:;' class="btn btn-atoll shadow lift  text-uppercase w-100 pt-1 pb-1"
          target="_blank" data-fancybox>
          See how it works
        </a>
      </div>
      
    </div>
  </div>
</section>

<!-- ! SMALL DEVICES -->
<section  class="pt-10 pt-md-11 pt-lg-11 pb-4 pb-md-0 pb-lg-0 px-lg-8 d-block d-md-none d-lg-none" >
  <div class="container">
    <div class="row justify-content-center mt-8 mt-md-8 mt-lg-8 mt-xl-8 ">
      <div class="col-12 col-md-5 text-center mt-n10 mt-md-n7 mt-lg-n10 mt-xl-n12 ml-n13 ml-md-n11 ml-lg-n15   pt-lg-0">
        <img class="home-page-top-section-image" src="{% static 'Landkit/images/v3/1.png' %}"
          alt="Circledin" >
      </div>


      <div class="col-12 col-md-6 col-lg-8 ">
        <div class="row pl-0 pr-0 mx-auto px-md-0 px-lg-0 mt-n10">
          <h3 class="font-weight-bolder mb-0 text-uppercase display-5 text-bluish text-center mx-auto">
            Stop overpaying on your 
          </h3>
          <h3 class="font-weight-bolder text-uppercase display-5 text-bluish text-center mx-auto ">
            Monthly Phone bill
          </h3>
        </div>
        
      <div class="row pl-0 pr-0 px-4 px-md-0 px-lg-0">
        <p class="h5 text-dark pr-md-8 pr-lg-13  mb-0  text-left mx-auto text-center">
          Group together and save together by joining a circle below!
        </p>
        
      </div>  
        
      </div>
      
      
      
    </div>
    
  </div>
</section>



<hr class="text-dark mt-0 mt-lg-5 font-size-lg d-block d-lg-none"  style="border-top: 6px solid #f1f4f8 !important;">