{% load static %}

<hr class="text-dark mt-5 mt-lg-10 font-size-lg d-block d-lg-none" style="border-top: 6px solid #f1f4f8 !important;">


<!-- ! FOR LARGE DEVICE -->
<section class="d-none d-lg-block mt-md-3 mb-md-8 ">
  
    <div class="container mx-md-auto mx-lg-auto">
        <div class="row ">
                <h1 class="card-title text-uppercase  display-6 font-weight-bolder text-dark text-center px-6 px-md-9 pl-lg-11 my-5">
                        Top 3 frequently asked questions
                </h1>
        </div>
        <div class="row">
          <div class="col-md-10 col-lg-4 bg-faq p-5 ml-5" style="min-width: 18rem !important; max-width: 18rem !important;">
            <h3 class=" font-weight-bolder text-dark">
              What if someone forgets to pay?
            </h3>
            <p class="card-text text-dark">
              Circledin guarantees timely payment each month so that there are no disruptions to your mobile services.
            </p>
          </div>    
          <div class="col-md-10 col-lg-4  bg-faq p-5 ml-5" style="min-width: 18rem !important; max-width: 18rem !important;">
            <h3 class=" font-weight-bolder text-dark">
              How secure is my data?
            </h3>
            <p class="card-text text-dark">
              Each of our Account Owners are verified and a trusted Circledin community member. The Account Owner will only see high level usuage data such as phone numbers, but not actual text messages, images, etc.
            </p>
          </div>    
          <div class="col-md-10 col-lg-4 bg-faq p-5 mt-md-0 mt-xl-0 ml-md-5 ml-xl-5" style="min-width: 18rem !important; max-width: 18rem !important;">
            <h3 class="font-weight-bolder text-dark">
              Are we sharing data?
            </h3>
            <p class="card-text text-dark">
              The premium data is on a per line basis. In other words, you are not sharing data usuages across other members in the family.
            </p>
          </div>   

        </div>
        <div class="row  float-right d-none d-lg-block my-4" >
          <a href="{% url 'FAQ' %}" class="btn btn-atoll mt-lg-2 col-lg-12 ml-lg-n2 mr-lg-12 pt-1 pb-1">More FAQs</a>
        </div>

        <div class="row mx-auto pl-md-14 d-none d-md-block d-lg-none my-4">
          <a href="{% url 'FAQ' %}" class="btn btn-atoll mt-lg-2 col-md-6 col-lg-12 ml-lg-n2 mr-lg-12 pt-1 pb-1">More FAQs</a>
        </div>

    </div>


    
</section>

<!-- ! FOR IPADS DEVICE -->
<section class="d-none d-md-block d-lg-none mt-md-3 mb-md-8 ">
  <div class="container px-lg-10">
      <div class="row ">
              <h1 class="card-title text-uppercase font-weight-bolder display-6 text-dark text-center px-6 px-md-9 pl-lg-11 my-5">
                      Top 3 frequently asked questions
              </h1>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 bg-faq p-5" style="min-width: 14rem !important; max-width: 10rem !important; ">
          <h3 class=" font-weight-bolder text-bluish">
            What if someone forgets to pay?
          </h3>
          <p class="card-text text-bluish">
            Circledin guarantees timely payment each month so that there are no disruptions to your mobile services.
          </p>
        </div>    
        <div class="col-md-4 col-lg-4  bg-faq p-5 ml-2" style="min-width: 14rem !important; max-width: 10rem !important; ">
          <h3 class=" font-weight-bolder text-bluish">
            How secure is my data?
          </h3>
          <p class="card-text text-bluish">
            Each of our Account Owners are verified and a trusted Circledin community member. The Account Owner will only see high level usuage data such as phone numbers, but not actual text messages, images, etc.
          </p>
        </div>    
        <div class="col-md-4 col-lg-4 bg-faq p-5 mt-md-0 mt-xl-0 ml-md-2 ml-xl-5" style="min-width: 14rem !important; max-width: 10rem !important; ">
          <h3 class="font-weight-bolder text-bluish">
            Are we sharing data?
          </h3>
          <p class="card-text text-bluish">
            The premium data is on a per line basis. In other words, you are not sharing data usuages across other members in the family.
          </p>
        </div>   

      </div>

      <div class="row mx-auto pl-md-14 d-none d-md-block d-lg-none my-5">
        <a href="{% url 'FAQ' %}" class="btn btn-atoll mt-lg-2 col-md-6 col-lg-12 ml-lg-n2 mr-lg-12 pt-1 pb-1">More FAQs</a>
      </div>

  </div>


  
</section>

<!-- ! FOR SMALL DEVICES -->
<section class="d-block d-md-none">
    <div class="container  pb-8">
        <div class="row">
                <h4 class="card-title text-uppercase font-weight-bolder text-bluish text-left text-md-left mx-auto px-lg-0 mb-2" >
                        Top 3 frequently asked questions
                </h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card shadow-light-lg accordion mb-5 mb-md-6" id="helpAccordionTWO">
                    <div class="list-group">
                      <div class="list-group-item bg-light-grey p-3">
                        <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpOneFAQ" role="button" aria-expanded="false" aria-controls="helpOneFAQ">
                          <span class="mr-4 h5 text-dark font-weight-bolder text-nowrap mr-0">
                            What if someone forgets to pay?
                          </span>
                          <div class="text-muted ml-n2" >
                            <!-- Chevron -->
                            <span class="collapse-chevron font-weight-normal text-dark">
                              <i class="fas fa-chevron-down"></i>
                            </span>
                          </div>
                        </a>
                        <!-- Collapse -->
                        <div class="collapse" id="helpOneFAQ" >
                          <div class="py-5 ">
                            <!-- Text -->
                            <p class="text-pure-black">
                                Circledin guarantees timely payment each month so that there are no disruptions to your mobile services.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item bg-light-grey mt-1 p-3">
                        <!-- Toggle -->
                        <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTwoFAQ" role="button" aria-expanded="false" aria-controls="helpTwoFAQ">
                          <!-- Title -->
                          <span class="mr-4 h5 text-dark font-weight-bolder font-Glacial-Indifference">
                            How secure is my data?
                          </span>
                          <!-- Metadata -->
                          <div class="text-muted ml-auto">
                            <!-- Chevron -->
                            <span class="collapse-chevron font-weight-normal text-dark">
                              <i class="fas fa-chevron-down"></i>
                            </span>
                          </div>
                        </a> <!-- / .row -->
                        <!-- Collapse -->
                        <div class="collapse" id="helpTwoFAQ" >
                          <div class="py-5">
                            <p class="text-pure-black">
                                Each of our Account Owners are verified and a trusted Circledin community member. The Account Owner will only see high level usuage data such as phone numbers, but not actual text messages, images, etc.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item bg-light-grey mt-1 p-3">
                        <!-- Toggle -->
                        <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpThreeFAQ" role="button" aria-expanded="false" aria-controls="helpThreeFAQ">
                          <!-- Title -->
                          <span class="mr-4 h5 text-dark font-weight-bolder font-Glacial-Indifference">
                            Are we sharing data?
                          </span>
                          <!-- Metadata -->
                          <div class="text-muted ml-auto">
                            <!-- Chevron -->
                            <span class="collapse-chevron font-weight-normal text-dark">
                              <i class="fas fa-chevron-down"></i>
                            </span>
                          </div>
                        </a> <!-- / .row -->
                        <!-- Collapse -->
                        <div class="collapse" id="helpThreeFAQ" >
                          <div class="py-5">
                            <!-- Text -->
                            <p class="text-pure-black">
                                The premium data is on a per line basis. In other words, you are not sharing data usuages across other members in the family.
                            </p>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                <a href="{% url 'FAQ' %}" class="btn btn-lighter-greenish pt-1 pb-1 w-100  mb-lg-2 ml-md-7 ml-lg-5">
                    More FAQ
                    
                </a>
            </div>
        </div>
    </div>
</section>
<hr class="text-dark mt-5 mt-lg-10 font-size-lg d-none d-md-block d-lg-block" style="border-top: 6px solid #f1f4f8 !important;">