{% load static %}
<section>
    <div class="container-fluid mx-lg-7">
        <div class="row">
                <h1 class="card-title text-uppercase font-weight-bolder display-3 text-dark text-left">
                        Top 3 frequently asked questions
                </h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-7 ml-lg-0 pl-lg-2">
                <ul class="ml-lg-0 pl-lg-0"  style="list-style-type:none !important"> 
                    <li>
                        <div>
                            <p class="h3  mb-0">1)  What happens when someone in the family forgets to pay?</p>
                        <p class="ml-lg-5 font-size-md">
                            Circledin guarantees timely payment each month so that there are no disruptions to your mobile services.
                        </p>
                        </div>
                        
                    </li>
                    <li>
                        <div>
                            <p class="h3  mb-0">2)  What type of data does the Account Owner see?
                        <p class="ml-lg-5 font-size-md">
                            Each of our Account Owners are verified and a trusted Circledin community member.The Account Owner will only see high level usuage data such as phone numbers, but not actual text messages, images, etc.
                        </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="h3  mb-0">3)  Is the premium data per account or per line?
                        <p class="ml-lg-5 font-size-md">
                            The premium data is on a per line basis. In other words, you are not sharing data usuages across other members in the family.
                        </p>
                        </div>
                    </li>
                </ul>
                <a href="#!" class="btn btn-lighter-greenish pt-1 pb-1 w-50 mb-lg-2 ml-lg-5">
                    More FAQ
                    
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-5">
                <img class="w-120 ml-lg-n10 mt-lg-n10" src="{% static 'Landkit/images/v3/8.png' %}" alt="Circledin">
                
            </div>
            
        </div>
        <img class="w-100 ml-lg-n6 my-lg-n13" src="{%  static 'Landkit/images/v3/banner.png' %}" alt="Circledin">
    </div>
</section>