{% load static %}
<section class="pb-lg-9">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col">
                <h1 class="card-title text-center text-uppercase font-weight-bold">
                    <i class="fas fa-users"></i> Circledin To save together
                </h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                    <img class="img-fluid mx-auto border border-success rounded-circle" data-toggle="tooltip"
                src="{% static 'Landkit/images/illustrations/illustration-9.png' %}" alt="circledin">
            </div>
            <div class="col-7 pl-0 px-lg-13">
                <h1 class="card-title text-uppercase font-weight-bold mb-0">
                    Join an Existing Plan
                </h1>
                <p class="card-text pr-0 pr-lg-5">
                    Looking to save? Find a plan that best suits your needs and join that account to enjoy savings per line. We'll handle the rest!
                </p>
                <h1 class="card-title text-uppercase font-weight-bold mb-0">
                    Post Your Account
                </h1>
                <p class="card-text pr-0 pr-lg-5">
                    Have a few extra slots on your account? Post your account for others to join and enjoy savings of line. We'll handle the rest!  
                </p>
                <a class="btn btn-success col-8" type="button" href="#!">Learn More</a>
                <p class="card-text mt-2">
                    We guarantee timely payments each month so that there are no disruptions to your mobile services.
                </p>
            </div>
        </div>
    </div>
</section>