{% load static settings_value %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "Landkit/GOOGLE_ANALYTICS.html" %}
     {% include "Landkit/META_TAG.html" %}
    <title>{% block title %} Circledin {% endblock %}</title>
    {% include "Landkit/style_import.html" %}
    <link rel="icon" href="{% static 'Landkit/images/C.png' %}">
</head>
<body>
    {% if not request.user.is_authenticated %}
    {% include "modals/signIn_modal.html" %}
        {% include "modals/signUp_modal.html" %}
        {% include "modals/forgot_password_form_modal.html" %}
        {% include 'modals/email_verification_modal.html' %}
    {% else %}
        {% include 'modals/home_add_plan_modal_form.html' %}
    {% endif %}
    {% include "Landkit/header.html"  %}
    <div class="mt-lg-6">
    {% block content %}
    {% endblock %}
</div>
    {% include "Landkit/script_import.html" %}
</body>
</html>