{% extends 'Base.html' %}
{% load static %}
{% load convert %}
{% block title %} Password Reset {% endblock %}
{% block content %}







<div class="mx-auto" style="width: 500px;">
  <div class="card card-border border-success" style="margin-top:100px !important;">
    <div class="card-header">
      Password Reset
    </div>
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong class="font-size-sm">{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong class="font-size-sm">{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    {% if validlink %}
    <div class="alert alert-info-soft">
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    </div>
    <div class="card-body">
      <form method="post" name="registrationForm" class="password-strength form needs-validation" novalidate id="id_passwordResetForm">
        {% csrf_token %}
        <div class="form-group">

          <input type="password" name="new_password1" required id="id_password_2"
            class="password-strength__input form-control form-control-flush" placeholder="Enter New Password"
            data-toggle="password" onkeyup="checkConditoin_2();" id="id_password-strength__input">
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
         

          <small class="password-strength__error text-danger js-hidden" id="id_password-strength__error"></small><small class="form-text text-muted mt-2"
            id="passwordHelp">
            <ul class="pl-3 text-dark list">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck11" disabled>
                  <label class="custom-control-label" for="customCheck11">Atleast 1 Lowercase
                    Letter</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck22" disabled>
                  <label class="custom-control-label" for="customCheck22">Atleast 1 Uppercase
                    Letters</label>
                </div>
              </li>

              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck44" disabled>
                  <label class="custom-control-label" for="customCheck44">Atleast 1 Special
                    Character</label>
                </div>
              </li>



              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck33" disabled>
                  <label class="custom-control-label" for="customCheck33">Numeric Numbers</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck55" disabled>
                  <label class="custom-control-label" for="customCheck55">Atleast Add 9 charachters or
                    more</label>
                </div>
              </li>
            </ul>
          </small>
        </div>

        <div class="form-group">

          <input type="password" name="new_password2" required id="id_password2_2"
            class="form-control form-control-flush" placeholder="Enter Confirm Password" data-toggle="password"
            onchange="Validate_2();">
          <div class="invalid-feedback font-weight-bold" id="matchPassword_2">

          </div>

        </div>


        <button type="submit" class="btn btn-block btn-primary-soft" value="Change my password">Change my
          password</button>



      </form>
    </div>
    {% else %}
    <p class="card-text p-2">The password reset link was invalid, possibly because it has already been used. Please
      request a new password reset.</p>
    {% endif %}

  </div>
</div>



<script src="{% static 'music/js/register_form_validation.js' %}"></script>

<script type="text/javascript">
  function Validate_2() {

    var password = document.getElementById("id_password_2").value;
    var confirmPassword = document.getElementById("id_password2_2").value;
    if (password.length != 0 || confirmPassword.length != 0) {


      if (password != confirmPassword) {
        $("#matchPassword_2").css("display", "block");
        $("#matchPassword_2").html("Both Passwords doesn't match.")
      }
      else {
        $("#matchPassword_2").css("display", "block");
        $("#matchPassword_2").html("Both Passwords matched.")
      }
    }
    else {
      $("#matchPassword_2").css("display", "none");
      $("#matchPassword_2").html("")
    }

  }
</script>

<script type="text/javascript">


  function checkConditoin_2() {
    var i = $("#id_password_2").val();
    if (hasLowerCase(i)) {
      $("#customCheck11").prop("checked", true);
    }
    else {
      $("#customCheck11").prop("checked", false);
    }
    if (hasUpperCase(i)) {
      $("#customCheck22").prop("checked", true);
    }
    else {
      $("#customCheck22").prop("checked", false);
    }

    if (i.length > 9) {
      $("#customCheck55").prop("checked", true);
    }
    else {
      $("#customCheck55").prop("checked", false);
    }

    if (testPasswRegexp3(i)) {

      $("#customCheck44").prop("checked", true);
    }
    else {
      $("#customCheck44").prop("checked", false);
    }

    if (testPasswRegexpNumeric(i)) {
      $("#customCheck33").prop("checked", true);
    }
    else {
      $("#customCheck33").prop("checked", false);
    }

  }
</script>

<script type="text/javascript">
  $(document).ready(function () {
    Validate_2();
    checkConditoin_2();
  });
</script>










{% endblock %}