{% extends "Base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    
        <div class="mx-auto" style="width: 500px;">
            <div class="card  card-border border-success" style="margin-top:100px !important;" >
                <div class="card-header">
                    Password Reset
                </div>
                <div class="card-body">
                    <form action="{% url 'password_reset' %}" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                           
                            <input type="email" name="email" maxlength="254" required id="id_email" class="form-control form-control-flush"  placeholder="Your Email">
                        <div>

                        

                        <div class="float-right mt-2">
                            <button type="submit" class="btn btn-block btn-success-soft font-weight-bold" value="Send e-mail">Send E-mail</button>
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}