
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModaladd_payment_method_waiting" tabindex="-1" role="dialog" aria-labelledby="exampleModaladd_payment_method_waitingLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModaladd_payment_method_waitingLabel">Processing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="exampleModalAdd_paymen_method_errorLabelBody">
            We are securely adding your payment method. 
        </div>
    
      </div>
    </div>
  </div>

