
  <!-- Modal -->
  <div class="modal fade" id="exampleModalPaymentError" tabindex="-1" role="dialog" aria-labelledby="exampleModalPaymentErrorLabel" aria-hidden="true" style="z-index: auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bolder" id="exampleModalPaymentErrorLabel">Payment Issues</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-2 pb-2" id="exampleModalPaymentErrorBody">
          
        </div>
        <div class="modal-footer p-1">
          <button type="button" class="btn btn-secondary p-2" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


