
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalpayment_processing_waiting_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalpayment_processing_waiting_modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center font-weight-bolder" id="exampleModalpayment_processing_waiting_modalLabel">Order Processing</h3>
          
        </div>
        <div class="modal-body">
          <div class="text-center">
          <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <p class="card-text mt-2 font-weight-bolder">
            We are securely processing your order. This may take up to a minute to complete.

          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
