Greetings {{ user.first_name }},

Circledin is delighted to be your partner to help drive down your mobile line cost! Thank you for offering your  {{ carrier_name }} - {{ plan_name }}.

Next Steps:
1) Circledin will verify your plan details and approve it.
2) Once approved, make Circledin an Account Manager on your account in 3 easy steps.
    a)  By allowing us to be an Account Manager: 
        1)  We'll be able to handle the day to day logistics so that you don’t need to worry about a single thing.
        2)  Guarantee on time payments so that your service is never interrupted when someone forgets to pay.
        3)  Support
3) Circledin will post your account and inform you when a user joins your plan.

Account name : {{ user.email }}

Please feel free to reply if you have any questions and we’ll be happy to assist you.

Check Status: {{ build_link }}