{% autoescape off %}
Greetings {{ FirstName }},

All that’s left to do is to make Circledin an Account Manager on your mobile plan.

Steps:
    1.  Login to VZW.com
    2.  Select Account
    3.  Settings Overview
    4.  Select Account Managers from the left navigation
    5.  Enter in 
        a.  First Name: Circledin
        b.  Last Name: Support
    7.  Select “No Line Assigned”
    8.  Enter in our email address: Support@circledin.io
    9.  Add Manager

After this is complete, your {{ carrier_name }}-{{ plan_name }} will be active for users to join. We’ll take it from here so you can sit back and relax.

Group Together, Save Together
Circledin 
{% endautoescape %}