{% autoescape off %}
Hi {{ s_first_name }},

Great news! You’ve been added to {{ Mobile_Carrier }}-{{ Plan_Name }}. Just a few more steps and you can start saving big bucks!

Next steps:
    1.  Contact your current mobile carrier to release your number
        a.  Request a Change of Responsibility
        
    2.  Update your status to inform us that you’ve completed this process

That’s it! Circledin will confirm the transfer shortly. 

Have any questions? Feel free to contact us and we’ll be more than happy to assist.

Cheers!
Circledin
    
{% endautoescape %}