{% autoescape off %}
Greetings {{ FirstName }},

All that’s left to do is to make Circledin an Account Manager on your mobile plan.

Steps:
    1.  Contact your T-Mobile expert- 1 (800)- T-MOBILE
    2.  Inform T-Mobile that you want to add a primary account holder (PAH). 
    3.  Provide the business name below. 
        a.  First Name: Circledin
        b.  Last Name: Support
    4.  Confirm and add with T-Mobile. 

After this is complete, your {{ carrier_name }}-{{ plan_name }} will be active for users to join. We’ll take it from here so you can sit back and relax.

Group Together, Save Together
Circledin 

{% endautoescape %}