{% extends "Base.html" %}
{% load static %}
{% include "Landkit/META_TAG.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<section class="bg-image-about-us-page-banner  mt-n5 py-3 py-lg-1  mt-lg-n9">
    <div class="container mt-lg-13">
        <div class="row ">
            <div class="col-12 col-md-4 col-lg-3 order-sm-2 order-md-1 order-lg-1" >
                <img src="{% static 'Landkit/images/v3/people.png' %}" class="people-img-about mt-10 mt-md-11 mt-lg-n8 ml-5 ml-md-7 ml-lg-11" alt="circledin">
            </div>
            <div class="col-12 col-md-7 col-lg-7 order-sm-1 order-md-2 order-lg-2 ">
                <h1 class="text-uppercase text-center font-weight-bolder display-3 text-bluish text-shadow-bluish font-League-Spartan mt-md-13 mt-lg-2 ">
                    Group Together, Save Together
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="px-5 my-8 my-lg-8  py-lg-1 ">
    <div class="container border-bluish border-bluish-top-0 border-bluish-bottom-0 border-bluish-right-0 px-8 pl-lg-10">
        <div class="row">
            <h1 class="card-title display-3 text-bluish text-shadow-bluish text-uppercase font-weight-bolder font-League-Spartan">
                Our Mission
            </h1>
            <p class="card-text h3 text-pure-black font-Glacial-Indifference">
                It’s simple. To put money back into your pockets so that you’re not overpaying for a service again.
            </p>
        </div>
        <div class="row mt-5 mt-lg-8">
            <h1 class="card-title display-3 text-bluish text-shadow-bluish text-uppercase font-weight-bolder font-League-Spartan">
                Why did we start circledin?
            </h1>
            <p class="card-text h3 text-pure-black font-Glacial-Indifference">
                With a global pandemic impacting our world economy, US unemployment claims increasing month over month, and a projected 100,000 small businesses expected to close permanently, we built this platform to provide you access to a premium mobile line without the premium prices!
            </p>
        </div>
        <div class="row mt-5  mt-lg-8">
            <h1 class="card-title display-3 text-bluish text-shadow-bluish text-uppercase font-weight-bolder font-League-Spartan">
                How?
            </h1>
            <p class="card-text h3 text-pure-black font-Glacial-Indifference">
                We connect individual subscribers to a family plan to maximize savings. We are like the Uber Pool for mobile plans. Circle into a family and start putting an average of $550/yr back into your accounts.
            </p>
        </div>
        <div class="row mt-5  mt-lg-8">
            <h1 class="card-title display-3 text-bluish text-shadow-bluish text-uppercase font-weight-bolder">
                Our Promise
            </h1>
        </div>
        <div class="row ml-lg-n7">
            <p class="card-text h3 text-bluish">
                <ul>
                    <li class="card-text h4 text-pure-black font-Glacial-Indifference">
                        1% of our profits to a charitable foundation
                    </li>
                    <li class="card-text h4 text-pure-black font-Glacial-Indifference">
                        1% of our time volunteering for a cause
                    </li>
                    <li class="card-text h4 text-pure-black font-Glacial-Indifference">
                        To provide a white glove experience for our users to ensure you're completely satisfied and happy with our services.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>
{% include "Landkit/footer.html" %}
{% endblock %}