{% extends 'Base.html' %}
{% load static %}
{% include "Landkit/META_TAG.html" %}
{% block title %} Contact Us {% endblock %}
{%  block content %}

<div class="modal fade" id="exampleModalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalContactLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalContactLabel">Thank You</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <!-- Image -->
            <div class="text-center">
              <img src="{% static 'Landkit/images/illustrations/illustration-1.png' %}" alt="circledin" class="img-fluid mb-3" style="width: 200px;">
            </div>
              <!-- Heading -->
              <h4 class="font-weight-bold text-center mb-1" id="modalExampleTitle">
              We will respond within 24 hours. Thank you.
              </h4>
              <button type="button" class="btn btn-success-soft btn-lgfont-size-lg font-weight-bold btn-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if form.errors %}
{% for field in form %}
  {%  for error in field.errors %}
    <div class="alert alert-danger alert-dismissible texxt-white">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong class="font-size-sm">{{ error }}</strong>
    </div>
    {% endfor %}
{% endfor %}
{% endif %}

<style>
  .border-width-2_5{
    border-width: 3px !important;
  }
  .border-width-5{
    border-width: 5px !important;
  }

</style>

    <section class="py-10  py-md-13" style="background-image: url({% static 'Landkit\images\v3\contact_us_header.png' %}); background-position: 0px -24px  !important;" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            <!-- Heading -->
            <h1 class="display-1 font-weight-bolder  text-success">
              Contact Us
            </h1>
            
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <!-- INFO
    ================================================== -->
    <section class="py-7 py-md-0 pt-md-0 pb-md-10 border-bottom-0 border-gray-300" id="info">
      <div class="container-fluid px-lg-7">
        <div class="row">
            <div class="col-4 border  border-dark  border-top-0 border-left-0 border-bottom-0 " style="border-right-width: 5px !important;">
                <div class="row border border-dark border-top-0 border-left-0 border-right-0 border-width-5" >
                    <h1 class="card-title font-weight-bolder text-uppercase text-dark">
                        Information
                    </h1>
                </div>
                

                
                <div class="row pt-lg-3">
                    <h1 class="card-title font-weight-bolder text-uppercase text-dark mb-lg-0">
                        Hours
                    </h1>
                </div>
                <div class="row">
                    <p class="card-text text-dark h4">
                        8:00 AM PDT - 5:00 PM PDT
                    </p>
                </div>
                <div class="row mt-lg-6">
                    <h1 class="card-title font-weight-bolder text-uppercase text-dark mb-lg-0">
                        Email
                    </h1>
                </div>
                <div class="row">
                    <p class="card-text text-dark h4">
                        support@joincircledin.com
                    </p>
                </div>
            </div>

            <div class="col-8">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="{% static 'Landkit/images/v3/contact_us pic.png' %}" alt="Circledin">
                  </div>
                  <div class="col-10">
                    <p class="card-text h3 text-dark font-weight-normal pr-lg-13">
                      Looking for some help? Click on the chat bubble on the bottom right of the page to get in touch with a Circledin representative.
                    </p>
                  </div>
                </div>
                <div class="row mt-lg-7">
                  <div class="col">
                    <h1 class="text-uppercase font-weight-bolder text-dark text-nowrap   pr-lg-12">
                      Let us hear from you directly!
                    </h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text text-dark font-weight-normal h4 pr-lg-12">
                      Leave a feedback and let us know how we can best assist you. Not seeing a service on our platform? Let us know below!
                    </p>
                  </div>
                </div>
                <div class="row mt-lg-7">
                  <div class="col-12 col-md-12 col-lg-10">
                    <!-- Form -->
                    
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "8273202",
              formId: "43afb830-2c55-461e-a3eb-c2343a9ce1cc"
            });
            $(document).ready(function()
            {
              $('data-reactid=".hbspt-forms-0.6"').remove();
            });
            </script>
                  </div>
                </div> <!-- / .row -->
              </div>
            </div>
        </div>

        
      </div>
    </section>
    

    

{% endblock %}