{% load static %}
<footer class="py-8 py-md-11 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <img
          src="{% static 'Landkit/images/Footer Logo.png' %}"
          alt="circledin"
          class="footer-brand img-fluid mb-2"
          loading="lazy"
        />
        <p class="mb-2 text-white font-Glacial-Indifference">
          Group together and start saving on your mobile bill.
        </p>
        <p class="text-gray-700 mb-2">
          <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
            <li class="list-inline-item list-social-item">
              <a href="https://www.youtube.com/channel/UCJBTqwhi3OUAjApStiXb-2Q" class="text-decoration-none">
                <i class="fab fa-youtube text-white"></i>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
              <a href="https://twitter.com/joincircledin" class="text-decoration-none">
                <i class="fab fa-twitter text-white"></i>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
              <a href="https://www.facebook.com/joincircledin" class="text-decoration-none">
                <i class="fab fa-facebook-square text-white"></i>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
              <a href="https://www.instagram.com/joincircledin/" class="text-decoration-none">
                <i class="fab fa-instagram text-white"></i>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
              <a href="mailto:Support@Joincircledin.com" class="text-decoration-none">
                <i class="fas fa-envelope text-white"></i>
              </a>
            </li>
            
            
            
          </ul>
        </p>
      </div>
      
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="font-weight-bold text-uppercase font-League-Spartan text-white">About</h6>
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% url 'About' %}" class="text-reset font-Glacial-Indifference " target="_blank"
              >About Us</a
            >
          </li>
          <li class="mb-3">
            <a
              href="{% url 'how-it-works-url' %}"
              class="text-reset font-Glacial-Indifference"
              target="_blank"
              >How it Works</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
        <h6 class="font-weight-bold text-uppercase font-League-Spartan text-white">Support</h6>
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="{% url 'contact' %}" class="text-reset font-Glacial-Indifference" target="_blank"
              >Contact Us</a
            >
          </li>
          <li class="mb-3">
            <a href="{% url 'FAQ' %}" class="text-reset font-Glacial-Indifference" target="_blank">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="font-weight-bold text-uppercase font-League-Spartan text-white">Legal</h6>
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a
              href="{% url 'TermsConditions' %}"
              class="text-reset font-Glacial-Indifference"
              target="_blank"
              >Terms of Service</a
            >
          </li>
          <li class="mb-3">
            <a
              href="{% url 'PrivacyPolicy' %}"
              class="text-reset font-Glacial-Indifference"
              target="_blank"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
