<section class="bg-light pb-5">

  <div class="container">
    <div class="row align-items-center mt-6">
      <div class="col-12">
        <h1 class="display-4 mb-2 mt-4">
          How it Works (Post your account)
        </h1>
      </div>
    </div>
 
    <div class="row mt-4 ml-4">
      <div class="col-12">
        <h3>
          List your family plan for free and be an Account Master
        </h3>
        <p class="card-text">
          As an Account Master, you OWN your plan. Members can join your family plan, but you are still the account holder.
        </p>
        <h3>
          Add Circledin as an Account Manager
        </h3>
        <p class="card-text mb-0">
          Adding us as an Account Manager allows us to handle the logistics of onboarding, offboarding, support and payment.
        </p>
        <p class="card-text">
          We will consistently look for deals to ensure that you’re maximizing promotions and savings on your phone bill.
        </p>
        <h3>
          Approve users to join your family plan
        </h3>
        <p class="card-text mb-0">
          When users request to join your family plan, you’ll confirm and approve them before our team provisions the account on your behalf.
        </p>
        <p class="card-text">
          To save more time, you have the option of letting us handle approvals for you.
        </p>
        <h3>
          Sit back and relax
        </h3>
        <p class="card-text">
          We handle everything from provisioning users, billing, and support so that you don’t need to worry about a thing. 
        </p>
      </div>
    </div>
    <div class="row align-items-center mt-6">
      <div class="col-12">
        <h1 class="display-4 mb-2">
          You’re Covered!
        </h1>
      </div>
    </div>
    <div class="row mt-4 ml-4">
      <div class="col-12">
        <p class="card-text">
          We guarantee all payments are made on time so that your mobile services will continue. Long gone are the days of waiting around or reminding friends and family to pay their monthly phone bill!
        </p>
      </div>

    </div>
  </div>
</section>