{% load static %}
<style>
    .border-custom-1{
        background-image: linear-gradient(#267676, #267676),
        linear-gradient(#267676, #267676),
        linear-gradient(#267676, #267676),
        linear-gradient(#267676, #267676);

                border-width: 5px !important;
                background-repeat: no-repeat;
  background-size: 7px 50%, 10% 7px, 7px 50%, 10% 7px, calc(100% - 8px) calc(100% - 8px);
  background-position: top left, top left , bottom right , right bottom, 4px 4px;
            }
    
</style>
<section class="bg-faq pb-lg-12 bg-how-it-works-banner-bottom-right">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12  " >
          <h1 class="display-2 border-custom-1 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-lg-5 mx-lg-8" style="font-size: 84px !important;">
            How it Works 
            <p class="card-text h2 font-italic text-shadow-none ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4">
                [ Join an existing plan ]
              </p>
          </h1>
          
        </div>
      </div>
   
      <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    1
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Find a circle
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Circledin is a community of users with a common interest of saving money.
          Browse the current selections to find the “circle” or group plan best suited to your needs. At Circledin, there’s a home for everyone.
                </p>
            </div>
      </div>

        <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    2
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Select your plan
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Chose the mobile or subscription plan that’s best for you.
          Keep your existing account information, such as your phone number!
          The only difference is how much you’ll save!
                </p>
            </div>
        </div>

        <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    3
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Circle in
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Circle into an existing family plan. Account holders are notified when a member makes a request to join their circle.
          Continue using your service as normal and we’ll send you a confirmation email to let you know that you’re set!
          There’s no disruption so you can rest assure that the process will be seamless.
                </p>
            </div>
        </div>

        <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    4
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Start Saving
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Sit back, relax, and enjoy your premium plan without the premium prices! 
                </p>
            </div>
        </div>



      
    </div>
  </section>