{% load static %}
<!-- ! LARGE   -->
<section class="bg-faq bg-how-it-works-banner-top-left d-none d-md-none d-lg-block">
    <div class="container">
        <div class="row align-items-center mt-10 ">
        <div class="col-12 ">
            <h2 class="display-4 border-custom-1 mx-lg-8 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-lg-5 text-uppercase" style="font-size: 70px !important;">
            How it Works 
            <p class="card-text h2 font-italic text-shadow-none ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4">
                [ Post your account ]
                </p>
            </h2>
            
        </div>
        </div>
        <div class="row mt-5 ml-4">
            <div class="col-md-1 col-lg-1 mt-lg-2">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-left mt-lg-n4 pt-lg-0 pl-lg-4" style="font-size: 116px !important;">
                    1
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-7">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0  mt-md-4 mt-lg-0">
                    List your family plan for free and be an Account Master
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    As an Account Master, you OWN your plan. Members can join your family plan, but you are still the account holder.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1 mt-lg-2">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-left mt-lg-n4 pt-lg-0 " style="font-size: 116px !important;">
                    2
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-7">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-1 pt-lg-0">
                    Add Circledin as an Account Manager
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Adding us as an Account Manager allows us to handle the logistics of onboarding, offboarding, support and payment. We'll consistently look for deals to ensure that you're maximize promotions and savings on your phone bill.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right  mt-lg-n4 pt-lg-0 " style="font-size: 116px !important;">
                    3
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-7 mt-lg-n2">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-1 pt-lg-0">
                    Approve users to join your family plan
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    When users request to join your family plan, you’ll confirm and approve them before our team provisions the account on your behalf. To save more time, you have the option of letting us handle approvals for you.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1 mt-lg-3">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    4
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-7">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0 mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-1 pt-lg-0">
                    Sit back and relax
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    We handle everything from provisioning users, billing, and support so that you don’t need to worry about a thing. 
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ! IPADS -->
<section class="bg-faq  d-none d-md-block d-lg-none">
    <div class="container">
        <div class="row align-items-center mt-10 ">
        <div class="col-12 ">
            <h1 class="display-2 border-custom-1 mx-lg-8 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-lg-5" style="font-size: 84px !important;">
            How it Works 
            <p class="card-text h2 font-italic text-shadow-none ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4">
                [ Post your account ]
                </p>
            </h1>
            
        </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    1
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0  mt-md-4 mt-lg-0">
                    List your family plan for free and be an Account Master
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    As an Account Master, you OWN your plan. Members can join your family plan, but you are still the account holder.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    2
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-0 pt-lg-0">
                    Add Circledin as an Account Manager
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Adding us as an Account Manager allows us to handle the logistics of onboarding, offboarding, support and payment. We'll consistently look for deals to ensure that you're maximize promotions and savings on your phone bill.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right  mt-lg-n4 pt-lg-0 " style="font-size: 100px !important;">
                    3
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-0 pt-lg-0">
                    Approve users to join your family plan
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    When users request to join your family plan, you’ll confirm and approve them before our team provisions the account on your behalf. To save more time, you have the option of letting us handle approvals for you.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    4
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0 mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-0 pt-lg-0">
                    Sit back and relax
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    We handle everything from provisioning users, billing, and support so that you don’t need to worry about a thing. 
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ! IPHONE  -->
<section class="bg-faq   pb-5 d-block d-md-none d-lg-none" >
    <div class="container">
        <div class="row align-items-center mt-10">
            <div class="col-12 ">
              <h1 class="border-custom-1 mx-lg-8 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-5 py-lg-5 text-uppercase" >
                How it Works 
                <p class="card-text  font-italic text-shadow-none ml-9 ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4" style="font-size: 14px;">
                    [ Post your account ]
                </p>
              </h1>
            </div>
        </div>
        <div class="row mt-4 ml-0">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" >
                    1
                </h1>
            </div>
            <div class="col-10 mt-1 pt-0">
                <h2 class="text-dark font-weight-bolder text-dark mb-2">
                    List your family plan for free and be an Account Master
                </h2>
                <p class="card-text text-dark h4 ">
                    As an Account Master, you OWN your plan. Members can join your family plan, but you are still the account holder.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-0">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" >
                    2
                </h1>
            </div>
            <div class="col-10 mt-1 pt-0">
                <h2 class="text-dark font-weight-bolder text-dark mb-2">
                    Add Circledin as an Account Manager
                </h2>
                <p class="card-text text-dark h4">
                    Adding us as an Account Manager allows us to handle the logistics of onboarding, offboarding, support and payment. We'll consistently look for deals to ensure that you're maximize promotions and savings on your phone bill.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-0">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" >
                    3
                </h1>
            </div>
            <div class="col-10 mt-1 pt-0">
                <h2 class="text-dark font-weight-bolder text-dark mb-2">
                    Approve users to join your family plan
                </h2>
                <p class="card-text text-dark h4">
                    When users request to join your family plan, you’ll confirm and approve them before our team provisions the account on your behalf. To save more time, you have the option of letting us handle approvals for you.
                </p>
            </div>
        </div>
        <div class="row mt-4 ml-0">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" >
                    4
                </h1>
            </div>
            <div class="col-10 mt-1 pt-0">
                <h2 class="text-dark font-weight-bolder text-dark mb-2">
                    Sit back and relax
                </h2>
                <p class="card-text text-dark h4 ">
                    We handle everything from provisioning users, billing, and support so that you don’t need to worry about a thing. 
                </p>
            </div>
        </div>
    </div>
</section>