{% extends "Base.html" %}
{% load static %}
{% include "Landkit/META_TAG.html" %}
{% block title %}How It Works{% endblock %}
{% block content %}

<style>
    .bg-how-it-workds-banner{
        background-image: url('{% static "Landkit/images/v3/8_how.png" %}') !important ;
        background-position-y: -150px !important ;
        background-size: 100% 600px !important;
    }

    .bg-how-it-works-banner-top-left{
        background-image: url('{% static "Landkit/images/v3/6_How.png" %}');
        background-repeat: no-repeat;
        
        /* background-size: 100% 90%; */
        background-position: 215% bottom !important; 
    }

    .bg-how-it-works-banner-bottom-right{
        background-image: url('{% static "Landkit/images/v3/7_how_it_works.png" %}');
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: -35% 140%  !important; 
    }
</style>

<section class="bg-image-about-us-page-banner  py-lg-1  mt-lg-n9">
    <div class="container my-lg-10 ">
        <div class="row ">
            <div class="col">
                <h1 class="text-uppercase text-center font-weight-bolder display-2 text-bluish text-shadow-bluish font-League-Spartan mt-lg-10">
                    how it works
                </h1>
            </div>
        </div>
    </div>
</section>
{% include 'Landkit/How_It_Works_middle_section_v3.html' %}
{% include 'Landkit/How_It_Works_Page_Post_Account_v3.html' %}
{% include 'Landkit/How_It_Works_Page_Existing_V3.html' %}

<section class="bg-how-it-workds-banner pb-lg-8">
    <div class="container py-lg-8 ">
        <div class="row">
            <div class="col">
                <h1 class="card-title display-3 text-uppercase font-weight-bolder text-dark mb-lg-0 text-shadow-bluish">
                    You're covered!
                </h1>
                <p class="card-text text-dark h3 ">
                    We guarantee all payments are made on time so that your mobile services will continue. Long gone are the days of waiting around or reminding friends and family to pay their monthly phone bill!
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-lg-15">
        <div class="row py-lg-6 mx-lg-10">
            <div class="col">
                <button class="btn btn-atoll lift font-weight-bolder  px-lg-10">Join Now!</button>
            </div>
        </div>
    </div>
</section>


{% include "Landkit/footer.html" %}
{% endblock %}