{% load static %}
<!-- ! LARGE  -->
<section class="bg-faq pb-lg-12 bg-how-it-works-banner-bottom-right d-none d-md-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12  " >
          <h1 class="display-2 border-custom-1 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-lg-5 mx-lg-8" style="font-size: 84px !important;">
            How it Works 
            <p class="card-text h2 font-italic text-shadow-none ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4">
                [ Join an existing plan ]
              </p>
          </h1>
          
        </div>
      </div>
   
      <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    1
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Find a circle
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Circledin is a community of users with a common interest of saving money.
          Browse the current selections to find the “circle” or group plan best suited to your needs. At Circledin, there’s a home for everyone.
                </p>
            </div>
      </div>

        <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    2
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Select your plan
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Chose the mobile or subscription plan that’s best for you.
          Keep your existing account information, such as your phone number!
          The only difference is how much you’ll save!
                </p>
            </div>
        </div>

        <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    3
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Circle in
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Circle into an existing family plan. Account holders are notified when a member makes a request to join their circle.
          Continue using your service as normal and we’ll send you a confirmation email to let you know that you’re set!
          There’s no disruption so you can rest assure that the process will be seamless.
                </p>
            </div>
        </div>

        <div class="row mt-4 ml-4">
            <div class="col-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 116px !important;">
                    4
                </h1>
            </div>
            <div class="col-11">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0">
                    Start Saving
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Sit back, relax, and enjoy your premium plan without the premium prices! 
                </p>
            </div>
        </div>



      
    </div>
</section>

<!-- ! IPADS -->
<section class="bg-faq pb-lg-12  d-none d-md-block d-lg-none">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12  " >
          <h1 class="display-2 border-custom-1 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-lg-5 mx-lg-8" style="font-size: 84px !important;">
            How it Works 
            <p class="card-text h2 font-italic text-shadow-none ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4">
                [ Join an existing plan ]
              </p>
          </h1>
          
        </div>
      </div>
   
      <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    1
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0  mt-md-4 mt-lg-0">
                    Find a circle
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Circledin is a community of users with a common interest of saving money.
          Browse the current selections to find the “circle” or group plan best suited to your needs. At Circledin, there’s a home for everyone.
                </p>
            </div>
      </div>

        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    2
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-0 pt-lg-0">
                    Select your plan
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Chose the mobile or subscription plan that’s best for you.
          Keep your existing account information, such as your phone number!
          The only difference is how much you’ll save!
                </p>
            </div>
        </div>

        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    3
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-0 pt-lg-0">
                    Circle in
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Circle into an existing family plan. Account holders are notified when a member makes a request to join their circle.
          Continue using your service as normal and we’ll send you a confirmation email to let you know that you’re set!
          There’s no disruption so you can rest assure that the process will be seamless.
                </p>
            </div>
        </div>

        <div class="row mt-4 ml-4">
            <div class="col-md-1 col-lg-1">
                <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" style="font-size: 100px !important;">
                    4
                </h1>
            </div>
            <div class="col-md-10 col-lg-11 pl-md-6 pl-lg-5">
                <h2 class="text-dark font-weight-bolder text-dark mb-lg-0 mb-md-0 mb-lg-0 mt-md-4 mt-lg-0 pt-md-0 pt-lg-0">
                    Start Saving
                </h2>
                <p class="card-text text-dark h4 pr-lg-10">
                    Sit back, relax, and enjoy your premium plan without the premium prices! 
                </p>
            </div>
        </div>



      
    </div>
</section>

<!-- ! IPHONE -->
<section class="bg-faq pb-5 pb-lg-12 bg-how-it-works-banner-bottom-right d-block d-md-none d-lg-none">
<div class="container">
    <div class="row align-items-center">
    <div class="col-12  " >
        <h1 class="display-2 border-custom-1 font-weight-bolder text-dark  text-shadow-bluish  mb-2 mt-4 text-center py-lg-5 mx-lg-8" >
        How it Works 
        <p class="card-text h2 font-italic text-shadow-none ml-lg-16 mr-lg-0 pr-lg-0 mt-lg-n4">
            [ Join an existing plan ]
            </p>
        </h1>
        
    </div>
    </div>

    <div class="row mt-4 ml-4">
        <div class="col-1">
            <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" >
                1
            </h1>
        </div>
        <div class="col-10 mt-1 pt-0">
            <h2 class="text-dark font-weight-bolder text-dark mb-2">
                Find a circle
            </h2>
            <p class="card-text text-dark h4 ">
                Circledin is a community of users with a common interest of saving money.
        Browse the current selections to find the “circle” or group plan best suited to your needs. At Circledin, there’s a home for everyone.
            </p>
        </div>
    </div>

    <div class="row mt-4 ml-4">
        <div class="col-1">
            <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0" >
                2
            </h1>
        </div>
        <div class="col-10 mt-1 pt-0">
            <h2 class="text-dark font-weight-bolder text-dark mb-2">
                Select your plan
            </h2>
            <p class="card-text text-dark h4 ">
                Chose the mobile or subscription plan that’s best for you.
        Keep your existing account information, such as your phone number!
        The only difference is how much you’ll save!
            </p>
        </div>
    </div>

    <div class="row mt-4 ml-4">
        <div class="col-1">
            <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0">
                3
            </h1>
        </div>
        <div class="col-10 mt-1 pt-0">
            <h2 class="text-dark font-weight-bolder text-dark mb-2">
                Circle in
            </h2>
            <p class="card-text text-dark h4 pr-lg-10">
                Circle into an existing family plan. Account holders are notified when a member makes a request to join their circle.
        Continue using your service as normal and we’ll send you a confirmation email to let you know that you’re set!
        There’s no disruption so you can rest assure that the process will be seamless.
            </p>
        </div>
    </div>

    <div class="row mt-4 ml-4">
        <div class="col-1">
            <h1 class="card-title font-weight-bolder display-1 text-dark text-shadow-bluish text-right mt-lg-n4 pt-lg-0">
                4
            </h1>
        </div>
        <div class="col-10  mt-1 pt-0">
            <h2 class="text-dark font-weight-bolder text-dark mb-2">
                Start Saving
            </h2>
            <p class="card-text text-dark h4 ">
                Sit back, relax, and enjoy your premium plan without the premium prices! 
            </p>
        </div>
    </div>



    
</div>
</section>