<div class="container mt-6">
    <div class="row align-items-center">
      <div class="col-12">
        <h1 class="display-4 mb-2">
          How it Works (Join an existing plan)
        </h1>
      </div>
    </div>
 
    <div class="row mt-4 ml-4">
      <div class="col-12">
        <h3>
          Find a circle
        </h3>
        <p class="card-text">
          Circledin is a community of users with a common interest of saving money.
          Browse the current selections to find the “circle” or group plan best suited to your needs. At Circledin, there’s a home for everyone.
        </p>
        <h3>
          Select your plan
        </h3>
        <p class="card-text">
          Chose the mobile or subscription plan that’s best for you.
          Keep your existing account information, such as your phone number!
          The only difference is how much you’ll save!

        </p>
        
        <h3>
          Circle in
        </h3>
        <p class="card-text">
          Circle into an existing family plan. Account holders are notified when a member makes a request to join their circle.
          Continue using your service as normal and we’ll send you a confirmation email to let you know that you’re set!
          There’s no disruption so you can rest assure that the process will be seamless.
        </p>
        <h3>
          Start Saving
        </h3>
        <p class="card-text">
          Sit back, relax, and enjoy your premium plan without the premium prices! 
        </p>
      </div>
    </div>
    <div class="row align-items-center mt-6">
      <div class="col-12">
        <h1 class="display-4 mb-2">
          You’re Covered!
        </h1>
      </div>
    </div>
    <div class="row mt-4 ml-4">
      <div class="col-12">
        <p class="card-text">
          We guarantee all payments are made on time so that your mobile services will continue. Long gone are the days of waiting around or reminding friends and family to pay their monthly phone bill!
        </p>
      </div>
    </div>
  </div>