{% load static %}
{% block META %}
<meta charset="UTF-8">
<meta name="description" content="Premium Cell Phone Plans without the Premium Prices
Stop overpaying on your monthly cell phone bill. Keep your existing Verizon or T-mobile plan. Group together and save together.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:title" content="Premium Cell Phone Plans without the Premium Prices">
<meta property="og:image" content="{% static 'Landkit/images/covers/Untitled.png' %}">
<meta property="og:description" content="Stop overpaying on your monthly cell phone bill. Keep your existing Verizon or T-mobile plan. Group together and save together.">
<meta property="og:url" content="https://127.0.0.1:8000">
<meta name="twitter:card" content="Circledin">
{% endblock %}