<script>
    function updateLine(){
    var v = $("#id_currently_monthly_payment_per_line").val().trim();
    if (v.length == 0)
    {
      $("#currentLinePayment").hide();
    }
    else{
      $("#currentLinePayment").show();
    }
    var c =  $("#id_category :selected").text();
    var j  = 0
    if (c == "VERIZON")
    {
      j = ( v-30 )*12;
    }
    else if(c == "T-MOBILES")
    {
      j = ( v-28 )*12;
    }
    else if(c == "AT-T")
    {
      j = ( v-35 )*12;
    }
    else if(c == "Select")
    {
      $("#currentLinePayment").hide();
    }
    
    var r  ="Great! We can save you about $" +  j + " per line a year."
    $("#currentLinePayment").html(r);
  }
</script>


<script>
    function PlanCreationFunction(x, y) {


// console.log(x, y);
// console.log(j);
// console.log($("#id_category option:contains(j)"));
// $("#id_category option:contains(j)");
$('#id_category').val(y).trigger('change');

for (var i = 0; i < $("#selectContains").find("select").length; i++) {





  if ($($("#selectContains").find("select")[i]).attr("id") == ("id_plan_name_" + x + "")) {

    $("#id_plan_name_default").hide();

    $($("#selectContains").find("select")[i]).show();
  } else {
    $($("#selectContains").find("select")[i]).hide();
  }
}


}
</script>