{% load static %}

{% if request.uesr.is_authenticated %}
  <link rel="stylesheet" href="{% static 'Landkit/css/feather.css' %}">
  <link rel="stylesheet" href="{% static 'Landkit/css/jquery.fancybox.min.css'  %}">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js" defer async></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="{% static 'Landkit/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'music/css/bootstrap-select.css' %}" />
  <link rel="stylesheet" href="{% static 'Landkit/css/customize-main.css' %}" />
  <link rel="stylesheet" href="{% static 'music/css/bootstrap-datepicker.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'music/css/bootstrap-datepicker.css' %}" />
  <script type="text/javascript" src="{% static 'music/js/bootstrap-select.js' %}" defer ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" />
{% else %}
  {% if section_home %}
  <link rel="stylesheet" href="{% static 'Landkit/css/feather.css' %}">  
  <link rel="stylesheet" href="{% static 'Landkit/css/jquery.fancybox.min.css'  %}">
  <link rel="stylesheet" href="{% static 'Landkit/css/flickity-fade.css' %}">
  <link rel="stylesheet" href="{% static 'Landkit/css/flickity.min.css' %}">
  <link rel="stylesheet" href="{% static 'Landkit/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'Landkit/css/customize.css' %}" />
    {% autoescape on %}
      <script src="{% static 'music/js/plan_creation_select_plan_name.js' %}" defer async></script>
    {% endautoescape %} 
    <script src="{% static 'music/js/calculator_slider.js' %}" type="text/javascript" defer async></script>
  {% else %}
    <link rel="stylesheet" href="{% static 'Landkit/css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'Landkit/css/jquery.fancybox.min.css'  %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js" defer async></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="{% static 'Landkit/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'music/css/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'Landkit/css/customize-main.css' %}" />
    <link rel="stylesheet" href="{% static 'music/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'music/css/bootstrap-datepicker.css' %}" />
    <script type="text/javascript" src="{% static 'music/js/bootstrap-select.js' %}" defer ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" />
  {% endif %}
{% endif %}
<script type="text/javascript" src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>
<script  type="text/javascript"  src="{% static 'Landkit/js/jquery.min.js' %} "  defer async ></script>