{% load static %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="{% static 'Landkit/css/feather.css' %}">
<link rel="stylesheet" href="{% static 'Landkit/css/theme.min.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/bootstrap-select.css' %}" />
<link rel="stylesheet" href="{% static 'Landkit/css/customize.css' %}" />
<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
  integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
  crossorigin="anonymous"
></script>
{% if request.user.is_authenticated %}
<link
  rel="stylesheet"
  href="{% static 'music/css/bootstrap-datepicker.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'music/css/bootstrap-datepicker.css' %}"
/>
<link rel="stylesheet" href="{% static 'music/css/countrySelect.css' %}" />
{% endif %}
<script src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>
<script
  type="text/javascript"
  src="{% static 'Landkit/js/jquery.min.js' %} "
  defer
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
  rel="stylesheet"
/>