{% load static %}
<link rel="stylesheet" href="{% static 'Landkit/css/feather.css' %}">
<link rel="stylesheet" href="{% static 'Landkit/css/jquery.fancybox.min.css'  %}">
<link rel="stylesheet" href="{% static 'Landkit/css/theme.min.css' %}">
<link rel="stylesheet" href="{% static 'music/css/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'Landkit/css/customize.css' %}">

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
    integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous" ></script>
    

    {% if request.user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'music/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'music/css/bootstrap-datepicker.css' %}">

<link rel="stylesheet" href="{% static 'music/css/countrySelect.css' %}">

{% endif %}
<script src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>

<style>
    h1, h2, h3, h4, h5, h6, .font-League-Spartan{
        font-family: 'League Spartan' !important;
    }

    p, a, span, input, .font-Glacial-Indifference, .btn{
        font-family: 'Glacial Indifference' !important;
    }

    .bg-bluish-shade{
        background-color: #24475E !important;
    }

    .bg-dark-blue{
        background-color: #161C2D !important;
    }

    
    .bg-shade-lighter-greenish{
        background-color: #D5EFEB !important;
    }

    .box-shadow-lighter-greenish{
        -webkit-box-shadow: 7px 7px 5px 0px rgba(66, 128, 118, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(66, 128, 118, 0.75);
box-shadow:         7px 7px 5px 0px rgba(66, 128, 118, 0.75);
    }

    
    .bg-atoll{
        background-color: #267676 !important;
    }
    /* ============================================================================== */

    /* ============================================================================== */
    /* Text Color Shades */

    .text-bluish{
        color: #24475E !important;

    }
    .text-shadow-bluish{
        text-shadow: 5px 5px rgba(22, 28, 45, 0.1) !important;
    }

    .text-pure-black{
        color:  #000000 !important;
    }
    /* ============================================================================== */

    .z-index-0{
        z-index: 0;
    }


    

    

    .btn-atoll{
        color: #fff !important;
        background-color: #267676  !important;
    }


    
    .btn-greenish{
        color: white !important;
        background-color: #48B9A9 !important;
    }


    .btn-light-greenish{
        color: white !important;
        background-color: #9ED0C9 !important;
    }

    .btn-lighter-greenish{
        color: white !important;
        background-color: #287777 !important;
    }

    .bg-dark-blue{
        background-color: #161C2D !important;
    }


    .btn-round {
    border-radius: 50%;
}

.border-radius-6{
        border-radius: 6px !important;
    }

    .border-radius-none{
        border-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }


     /* Background Image for Calculator Section V3 */
     
    @media(min-width:700px){
        .bg-image-colored-md{
          /* background-image: url("{% static 'Landkit/images/v3/background.jpg' %}");    */
          background-image: none ;
          /* background-size: 120% 120% !important; */
      }    
    }

     @media(min-width:1200px){
        .bg-image-colored{
          background-image: url("{% static 'Landkit/images/v3/background.jpg' %}");   
      }    
     }
     
  
      /* No Repet Background image */
      .no-background-image{
          background-repeat: no-repeat !important;
      }
  
  
      .no-background-image-x{
        background-repeat: repeat-y, no-repeat !important;
    }

      
      .img-w-600{
          max-width: 600px !important;
          min-width: 600px !important;
      } 


      @media(min-width:300px){
        .img-w-750-sm{
          max-width: 300px !important;
          min-width: 300px !important;
      }   
      }
      
      @media(min-width:700px){
        .img-w-750-md{
          max-width: 400px !important;
          min-width: 400px !important;
      }   
      .font-size--calc{
              font-size: 1.9rem !important;
              
          }
          
  .calc-card{
        width: 18rem !important;
      }

      }


      @media (min-width:1000px){
          
        
        .font-size--calc{
              font-size: 1.9rem !important;
              
          }
          
  .calc-card{
        width: 16.5rem !important;
      }

          
          
      }

      @media(min-width: 1200px){
        .img-w-750{
          max-width: 450px !important;
          min-width: 450px !important;
      }

      

        .font-size--calc{
              font-size: 2.3125rem !important;
          }
          

  .calc-card{
        width: 18rem !important;
      }
      
 
      }
      
      

      
      @media(min-width:300px){
        .icon{
          min-width: 100px !important;
          max-width: 100px !important;
      }  
      }

      @media(min-width:700px){
        .icon{
          min-width: 90px !important;
          max-width: 90px !important;
      }
      }
      
  
      
      
     
      
      @media(min-width: 700px){
        .img-w-400-md{
        max-width: 400px !important;
        min-width: 400px !important;
      }     
      .img-w-300-md{
        max-width: 300px !important;
        min-width: 300px !important;
      }  
      .img-w-350-md{
        max-width: 350px !important;
        min-width: 350px !important;
      }     
      }

      @media(min-width: 1200px){
        .img-w-500{
        max-width: 500px !important;
        min-width: 500px !important;
      }    
      }
      


      .border-radius-6{
          border-radius: 6px !important;
      }
  
      .border-radius-none{
          border-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
      }
  
      .bg-img-calc-v3{
          background-image: url("{% static 'Landkit/images/v3/back_noppl.jpg' %}");
      }
  
      .bg-img-calc-card-v3{
          background-image: url("{% static 'Landkit/images/v3/white_banner.png' %}");
          background-position-x: 300px !important;
      }
  

      .z-index-0{
          z-index: 0;
      }

      .position-relative{
        position: relative !important;
      }

      @media(min-width:1200px){
        .left-n140px{
        left: -140px !important;
      }
      }

      @media(min-width:700px){
          .left-n140-md{
            left: -105px !important;
          }
      }
      
      @media(min-width:1200px){
        .top-n80px{
        top: -80px !important;
      }
      }

      @media(min-width:700px){
        .top-n80px-md{
        top: -60px !important;
      }   
      }
      


      .bg-img-calc-v3{
        background-image: url("{% static 'Landkit/images/v3/back_noppl.jpg' %}");
    }

    .bg-img-calc-card-v3{
        background-image: url("{% static 'Landkit/images/v3/5.png' %}");
        background-position-x: 300px !important;
    }



    /* FAQ Page Styling */
    .bg-image-about-us-page-banner{
        background-image: url('{% static "Landkit/images/v3/gradient_header.png" %}');
        min-width: 100% !important;
    }

    /* @media(min-width:200px){
        .bg-image-about-us-page-line{
            background-image: url('{% static "Landkit/images/v3/line.png" %}');
            
            
    }
    }

    @media(min-width:500px){
        .bg-image-about-us-page-line{
        background-image: url('{% static "Landkit/images/v3/line.png" %}');
    }
    } */
    
    
    .people-img-faq{
        max-width: 350px !important;
        min-width: 100px !important;
    
    }

    /* About Us Page Styling */
    .bg-image-about-us-page-banner{
        background-image: url('{% static "Landkit/images/v3/gradient_header.png" %}');
        min-width: 100% !important;
    }

    .bg-image-about-us-page-line{
        background-image: url('{% static "Landkit/images/v3/line.png" %}');
    }
    
    .people-img-about{
        max-width: 280px !important;
        min-width: 100px !important;
    
    }

    .border-bluish{
        border: #24475E solid 4px !important;
    }

    .border-bluish-top-0{
        border-top: 0px !important;
        
    }

    .border-bluish-bottom-0{
        border-bottom: 0px !important;
        
    }

    .border-bluish-right-0{
        border-right: 0px !important;
        
    }


    @media(min-width:700px){
        .text-md-bluish{
            color: #24475E !important;
        }
    }

    @media(min-width:1200px){
        .text-lg-white{
            color: white !important;
        }
    }



    @media(min-width:700px){
        .w-120-md{
            width: 200% !important;
        }
    }

    @media(min-width:1000px){
        .w-120-md{
            width: 180% !important;
        }
    }


    @media(min-width:1200px){
        .w-120-lg{
            width: 150% !important;
        }
    }






    @media (min-width:300px) and (max-width:400px){
    .home-page-top-section-image {    
      display: inline-block;    
      width: 145%;  
    }
  }

  

  @media (min-width:450px) {
    .home-page-top-section-image {    
      display: inline-block;    
      width: 140%;  
    }
  }


/* 
  @media (min-width:710px) {
    .home-page-top-section-image {    
      display: inline-block;    
      width: 140%;  
    }
  } */



  @media (min-width:720px) {
    .home-page-top-section-image {    
      display: inline-block;    
      width: 150%;  
      padding-top: 8px !important;
    }  
  }


  @media (min-width:770px) {
    .home-page-top-section-image {    
      display: inline-block;    
      width: 180%;  
      padding-top: 8px !important;
    }  
  }

  @media (min-width: 770px)  {  
    .home-page-top-section-image {    
      display: inline-block;    
      width: 180%;  
      
      padding-top: 8px !important;
    }
  }

  @media (min-width: 860px) {  
    .home-page-top-section-image {    
      display: inline-block;    
      width: 190%;  
    }
  }

  @media (min-width: 900px) {  
    .home-page-top-section-image {    
      display: inline-block;    
      width: 190%;  
    }

    
  }

  @media (min-width: 990px){
    .people-image-calculator{
        left: 0% !important;
    }
  }

  @media (min-width: 1200px) {  
    .home-page-top-section-image {    
      display: inline-block;    
      margin-top: -10px !important; 
    }
  }








@media (min-width: 1281px) {  
    .home-page-top-section-image {    
      display: inline-block;    
      width: 200%;  
      margin-top: -20px !important;     
    }
  }




</style>