{% extends 'Base.html' %}
{% load static %}


{% block title %}Terms of use {% endblock %}


{% block content %}

<style>
  ol li{
    margin-bottom: 10px !important ;
  }
</style>

    <section class="pt-8 pt-md-9 pb-8 pb-md-14 bg-light mt-3 mt-md-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">

            <!-- Heading -->
            <h1 class="display-4 mb-2">
              CircledIn Terms of Service
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-md-0">
              June 28, 2020
            </p>

          </div>
       
        </div> <!-- / .row -->
     
        <div class="row mt-4">
          <div class="col-12">

            

            <ol>
              <li>
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Welcome to CircledIn!
                </h1>
                <ol type="a">
                  <li>We are extremely excited that you have decided to join the community! Our promise to you:
                    <ol type="i">
                      <li>CircledIn will donate 1% of our revenue to a charitable foundation.</li>
                      <li>CircledIn will pledge 1% of our time to volunteer for charitable foundations.</li>
                      <li>100% Satisfaction guarantee
                        <ol>
                          <li>If you’re not completely satisfied with our services, we’ll be more than happy to assist you and accommodate your transition</li>
                      </ol>
                      </li>
                  </ol>
              </li>
              <li>
                By using our Services, you agree to these terms and any community guidelines provided to you for the Services that you use. We highly recommend reading the Terms of Service, as this will act as a form of agreement between you (the user) and CircledIn.
              </li>
              <li>
                If for any reason you are unsatisfied with our Services, we will refund you 100% of the subscription cost for the month.
              </li>
                  
              </ol>
              </li>
              <li >
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Privacy
                </h1>
                <ol type="a">
                  <li>
                    By entering into this Agreement, you agree to our Privacy Policy outlined
                    
                      <a href="{% url 'PrivacyPolicy' %}" class="card-link">
                        HERE
                      </a>
                      
                    
                    </li>
                </ol>
                
              </li>

              <li>
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Cancellation
                </h1>
                <ol type="a">
                  <li>
                    Joiner (A user joining an existing circle/plan from CircledIn)
                    <ol type="i">
                      <li>If you decide to leave a circle, you are subject to the terms and service of your mobile carrier. This includes but is not limited to Verizon, T-Mobile, AT&T, MVNO’s, etc.</li>
                      <li>You’ll need to pay for any costs/fees incurred before leaving or joining another Circle.
                      </li>
                      <li>We will work with the Creator/Host to release your mobile number. There is no guarantee.
                      </li>
                  </ol>
                    </li>





                    <li>
                      Creator (A user owning/managing an existing circle/plan from CircledIn)

                      <ol type="i">
                        <li>If you decide to leave a circle, you must notify CircledIn 30 days in advance to begin the process. Failure to notify will result in a complete ban from the CircledIn community.</li>
                        <li>You must pay for any costs/fees incurred before leaving
                        </li>
                        <li>Creator cannot take other’s Mobile Number with them. They must work with Circledin to release the Mobile Numbers of added users.
                        </li>
                        <li>
                          Failure to do so will result in being banned from Circledin and finance penalty.
                        </li>
                    </ol>
                      </li>




                </ol>
                
              </li>

              <li>
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Changes to Your Service or Agreement
                </h1>
                <ol type="a">
                  <li>
                    We may change these Terms of Usage without advance notice. Please visit this page periodically to see the most current Terms that govern your use of the Services. By continuing to use or access our Services after any modification comes into effect, you(the user) agree to be bound by the modified agreement. If you disagree with our modification, please stop using our services. You agree that Circledin shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Services (or any portion thereof).

                  </li>
                </ol>
              </li>
              


              <li>
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Using the Service
                </h1>
                <ol type="a">
                  <li>
                    We are not a mobile reseller or an MVNO (Mobile Virtual Network Operator). We do not provide mobile services.

                  </li>

                  <li>
                    When creating or hosting a mobile plan, we are not responsible for any mobile services fees/charges incurred during the use of our services. It is your responsibility. 

                  </li>


                  <li>
                    When joining a We are not responsible for the loss of your mobile phone number. We will work with you to retrieve your mobile number from the hosting provider. 
                  </li>

                  <li>
                    You may stop using the Service at any time.
                  </li>

                </ol>
              </li>

              <li>
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Billing and Payment
                </h1>

                <ol type="a">
                  <li>
                    The user agrees to pay the fees/penalty that they may incur within their mobile plan. This may include but not limited to any international fees, data overages, late payment charges, 
                    <ol type="i">
                      <li>
                        Failure to pay will result in a complete ban from the CircledIn Community
                      </li>

                    </ol>
                  </li>
                  <li>
                    The user agrees to pay 
                  </li>
                </ol>

              </li>

              <li>
                <h1 class="font-size-lg font-weight-bolder display-2">
                  Resolving Disputes
                </h1>
                <ol type="a">
                  <li>
                    One of our core values is Customer Success and Trust. We’ll go above and beyond to ensure you are happy and satisfied with our service.
                  </li>

                </ol>
              </li>


          </ol>


            </div>

          </div>
        
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    {% include "Landkit/footer.html" %}

{% endblock %}