{% load static %}
<section class="pt-6 pt-md-8 pb-8 mb-md-8 mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card shadow-light-lg accordion mb-5 mb-md-6" id="helpAccordionOne">
          <div class="list-group">
            <div class="list-group-item bg-shade-lighter-greenish">
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpOne" role="button" aria-expanded="false" aria-controls="helpOne">
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  What is CircledIn?
                </span>
                <div class="text-muted ml-auto" >
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a>
              <!-- Collapse -->
              <div class="collapse" id="helpOne" >
                <div class="py-5 ">
                  <!-- Text -->
                  <p class="text-pure-black">
                    CircledIn is a community of users with a common interest in saving on your monthly expenses. We developed this platform to help individuals save on their monthly expenses so that you can put more money back into your pockets! We also donate 1% of our time to volunteer at a charitable cause and 1% of our profits to a charitable foundation. Read more on our <a class="card-link" href="{% url 'About' %}" target="_blank">About Us </a> page.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTwo" role="button" aria-expanded="false" aria-controls="helpTwo">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  How does it work?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpTwo" >
                <div class="py-5">
                  <p class="text-pure-black">
                    We connect individual subscribers to a family plan to maximize savings. We are like the Uber Pool for mobile plans. Circle into a family and start benefiting the savings with each other.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpThree" role="button" aria-expanded="false" aria-controls="helpThree">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  How is the price set?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpThree" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    We maximize family sizes to give you the cheapest rate available that is offered from any of the premium carriers in the United States, guaranteed.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpFour" role="button" aria-expanded="false" aria-controls="helpFour">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Will I lose my current mobile number?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpFour" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    No, according to the <a href="https://www.fcc.gov/general/wireless-local-number-portability-wlnp" target="_blank" class="">FCC </a>, Wireless LNP is a wireless consumer's ability to change service providers within the same local area and still keep the same phone number. 
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpFourOne" role="button" aria-expanded="false" aria-controls="helpFourOne">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  What happens when an Account Owner cancels their plan?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpFourOne" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    To provide a trusted seamless experience we verify all of our Account Owners. Additionally, Account Owners agree to go through a transition of service in the event that they decide to leave for a new carrier. *Currently being an Account Owner is by invite only.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#leaves-the-plan" role="button" aria-expanded="false" aria-controls="leaves-the-plan">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  What happens when someone leaves the plan? Does the family plan price go up?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="leaves-the-plan" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    If a member in the family leaves, the price will remain the same regardless if there’s 2 members in a family or 5. We guarantee the lowest price at all times.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#family-of-4" role="button" aria-expanded="false" aria-controls="family-of-4">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  I already have a family of 4 or more. How can you help us?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="family-of-4" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    We streamline the payment process so that you’re not requesting payment from your family members each month. Additionally, we’ll handle any issues, upgrades, and will always ensure that your plan is up to date with the maximum savings.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTwintyOne" role="button" aria-expanded="false" aria-controls="helpTwintyOne">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Is CircledIn a mobile carrier or MVNO (Mobile Virtual Network Operator)?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpTwintyOne" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    No, we simply connect subscribers to a family plan, handle payment, and provide one of the best customer experiences there is. 
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpFive" role="button" aria-expanded="false" aria-controls="helpFive">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Can I get a new mobile number?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpFive" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Absolutely. After you join a family you will be guided through our questionnaire to ensure you have everything you need.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpSix" role="button" aria-expanded="false" aria-controls="helpSix">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Will my phone be compatible with the carrier?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpSix" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    We highly recommend visiting the mobile carriers website to see if your current phone is compatible with their network. Feel free to reach out to CircledIn support to get assistance.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpSeven" role="button" aria-expanded="false" aria-controls="helpSeven">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  How are payments handled?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpSeven" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    CircledIn makes payment automatic and seamless. When you are ready to join a circle, you’ll input your payment information on our secure website. CircledIn uses a payment system that is a PCI Service Provider Level 1 which is the highest grade of payment processing security. Each month you’ll be billed for your cell phone line automatically.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#credit-checks" role="button" aria-expanded="false" aria-controls="credit-checks">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Do you run credit checks?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="credit-checks" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Nope
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTwintySeven" role="button" aria-expanded="false" aria-controls="helpTwintySeven">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  What if someone in the circle doesn’t pay?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpTwintySeven" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    <span class="font-weight-bold">CircledIn, guarantees full payment</span> to the Account Owner each month so that your services are not disrupted when someone forgets to pay. 
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpEight" role="button" aria-expanded="false" aria-controls="helpEight">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Why is there a $5 subscription fee?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpEight" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    We kept the subscription fee as low as possible to enable more savings back into your pocket. This subscription fee allows us to keep the lights on and provide you support.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item  bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNine" role="button" aria-expanded="false" aria-controls="helpNine">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  What’s the refund policy?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpNine" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    If you’re not satisfied with our service, we will refund your subscription fee for the month. However, you are responsible for any mobile balances associated with your phone number.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNintyOne" role="button" aria-expanded="false" aria-controls="helpNintyOne">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Are there any taxes?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpNintyOne" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Yes, each carrier has taxes and service fees associated with their plan. For T-Mobile Magenta and Magenta Plus plan, the taxes are already included in the price. For Verizon, you should expect about ~$5 for taxes and service fees. 
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNintyTwo" role="button" aria-expanded="false" aria-controls="helpNintyTwo">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Do you accept eSIM?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpNintyTwo" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Yes, our plans are directly from the carrier themselves. If your phone supports eSIM then they’ll accept it!
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNintyTwoBill" role="button" aria-expanded="false" aria-controls="helpNintyTwoBill">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  First months Bill
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpNintyTwoBill" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    All of our plans are Postpaid. Your first month's bill will include the prorated amount for the month before the Bill Due Date as well as the Nexts Month mobile bill.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNintyTwofamily" role="button" aria-expanded="false" aria-controls="helpNintyTwofamily">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Is the data shared amongst family members?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpNintyTwofamily" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Absolutely not. Each line usage is separate from what your entire family uses. Your line, your data.
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#business-solutions" role="button" aria-expanded="false" aria-controls="business-solutions">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  Looking for business solutions?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="business-solutions" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Looking for MDM services and more? Reach out to us at <a href="mailto:support@joincircledin.com">support@joincircledin.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-shade-lighter-greenish mt-1">
              <!-- Toggle -->
              <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNintyThree" role="button" aria-expanded="false" aria-controls="helpNintyThree">
                <!-- Title -->
                <span class="mr-4 h3 text-dark font-weight-bolder font-Glacial-Indifference">
                  How do we partner with CircledIn?
                </span>
                <!-- Metadata -->
                <div class="text-muted ml-auto">
                  <!-- Chevron -->
                  <span class="collapse-chevron font-weight-normal text-dark">
                    <i class="fas fa-chevron-down fa-2x"></i>
                  </span>
                </div>
              </a> <!-- / .row -->
              <!-- Collapse -->
              <div class="collapse" id="helpNintyThree" >
                <div class="py-5">
                  <!-- Text -->
                  <p class="text-pure-black">
                    Looking to have your mobile plans listed on our website? Reach out to us at 
                    <a href="mailto:support@joincircledin.com">support@joincircledin.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>