{% extends 'Base.html' %}
{% load static humanize FindSubUser findNextMonth findNextYear findFindSubID findSubStatus FindSubObject findPaymentCurrentDay %}
{% block title %} Subscription Details {% endblock %}
{% block content %}

{% include 'modals/FeedbackForms.html' with subs=subs.user|FindSubObject:subs.plan.id edit=False %}
{% include 'modals/modal_contact_support.html'  %}


<div class="container mt-5">
    <div class="row">
        <div class="card mt-5 mb-5 wr-60 shadow-lg" >
            <div class="card-body">
                <h5 class="card-title alert-warning p-3 font-weight-bold">Subscription : {{ subs.plan.category.Name }}-{{ subs.plan.plan_name }}-{{ subs.plan.family_name }}</h5>
                <p class="card-text "><span class="font-weight-bold">Family Live Since</span> : {{ subs.created_at }}</p>
                <p class="card-text " id="payment" 
                    data="{{ plan.currently_monthly_payment_per_line }}"><span class="font-weight-bold">Currently monthly payment per line</span> :
                    ${{ plan.currently_monthly_payment_per_line|intcomma }}</p>
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "warning" %}
                    <script src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>
                    <script>
                    $(document).ready(function()
                    {
                        $('#exampleModalsuccessfull').modal('show')
                    })
                    
                    </script>
                    {% else %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Info</h4>
                        <hr>
                        <p class="mb-0">{{ message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <div class="col mb-2 pl-0 pr-0">
                    <div class="row mb-2">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" class="btn btn-outline-secondary w-100">Current Family Size :
                                {{ subs.plan.currentFamilySize }}</button>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-3 mt-md-0 mt-lg-0 mt-xl-0">
                            <button type="button" class="btn btn-outline-secondary w-100">Open Slots:
                                {{ subs.plan.total_slots }} </button>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" class="btn btn-outline-secondary w-100">Payment Date:
                                {{ request.user|findNextMonth }} {{ subs.plan.monthly_payment_date|findPaymentCurrentDay }}, {{ request.user|findNextYear }} </button>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-3 mt-md-0 mt-lg-0 mt-xl-0">
                            <a type="button" class="btn btn-outline-secondary w-100" href="{% url  'contact' %}"
                                 data-toggle="modal" data-target="#exampleModal_contact_support">Contact Support</a>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <p class="card-text"><span class="font-weight-bold">Number of Slots</span> : {{ subs.number_of_slots }}</p>
                </div>
                <div class="form-group mb-1">
                    <p class="card-text"><span class="font-weight-bold">Monthly Estimation</span> : ${{ plan.currently_monthly_payment_per_line|intcomma }}pp/month
                    </p>
                </div>
                <div class="form-group mb-1">
                    <p class="card-text mb-0" {% if request.user == subs.user %}  id="total" {% endif %}
                        data="{{ plan.currently_monthly_payment_per_line }}">
                        <span class="font-weight-bold">Total</span> : ${% widthratio plan.currently_monthly_payment_per_line 1 subs.number_of_slots %}
                        </p>
                    <small id="emailHelp" class="form-text text-muted">You'll be billed this amount each month.</small>
                </div>
    
                <div class="form-group">
                    <p class="card-text">
                        <span class="font-weight-bold">Ratings</span> : Family Rating 5/5. No Issues. One Time Payment
                    </p>
    
                </div>
    
                {% if subs.plan.notes %}
                <div class="form-group">
                    <label for="exampleForm" class="font-weight-bold">Additionnal Notes</label>
                    <p class="card-text">
                        {{ subs.plan.notes }}
                    </p>
    
                </div>
                {% endif %}
    
    
                {% if subs.plan.get_contact %}
    
                <div class="form-group">
                    <p class="card-text">
                        <span class="font-weight-bold">Contact Info</span> : 
                        {% if subs.status == "Active" or request.user == plan.user %}
                            {{ subs.plan.get_contact }}
                        {% else %}
                            Revealed after Account Owner Approved your Subscription.
                        {% endif %}
                    </p>
                </div>
                {% endif %}
    
    
                {% if request.user == plan.user %}
                {% if subs.status == "Active" %}
                <div class="form-group">
                    <label for="exampleForm" class="font-weight-bold">Feedback</label>
                    <textarea class="form-control bg-transparent" disabled>{{ subs.feedback }}</textarea>
                </div>
                {% endif %}
                {% endif %}
                <div class="form-group">
                    {% if request.user == plan.user %}
                        <a type="button" class="btn btn-danger col-12 col-md-3 col-lg-3 col-xl-3 mt-2" href="{% url 'Delete' plan.id subs.id %}">Delete Subscription</a>
                        {% if subs.status == "Active" %}
                            <button type="button" class="btn btn-success col-12 col-md-3 col-lg-3 col-xl-3 mt-2">Approved</button>
                        {% else %}    
                            <a class="btn btn-danger col-12 col-md-3 col-lg-3 col-xl-3 mt-2" type="button"
                            href="{% url 'Approve' subs.user.id plan.id subs.id %}">Approve Subscription</a>
                        {% endif %}
                        {% if subs.status == "Inactive" %}
                            <button type="button" class="btn btn-success col-12 col-md-4 col-lg-3 col-xl-3 mt-2">Disapproved</button>
                        {% else %}
                            <a class="btn btn-danger col-12 col-md-3 col-lg-4 col-xl-4 mt-2" type="button"
                                href="{% url 'Disapprove' subs.user.id plan.id subs.id %}">Disapprove Subscription</a>
                        {% endif %}
                        
                    
                    {% endif %}
                    
                        
                
                    {% if request.user == subs.user %}
                    <a class="btn btn-danger col-12 col-md-3 col-lg-3 col-xl-3 mt-2" href="{% url 'EditSubscription' subs.plan.id subs.id %}" type="button">Edit
                        Subscription</a>
                    {% endif %}
    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}