<div class="card-header border border-dark border-top-0 border-left-0 border-right-0 border-width-3 pt-11 pt-lg-10 px-0 px-lg-0">
    <h3 class="font-weight-bolder text-success"> Existing {{ plan.category }} Customer  </h3>
    <div class="container-fluid px-md-0 px-lg-0 py-md-0 py-lg-0 d-none d-md-block d-lg-block">
      <div class="row">
        <div class="col">
          <h1 class="card-title display-5 text-dark font-weight-bolder text-uppercase mb-md-0  mb-lg-0">
            Requirements
        </h1>
        </div>
        <div class="col">
          <h1 class=" card-title text-right display-5 text-dark text-uppercase font-weight-bolder mb-md-0 mb-lg-0">
            Step 1
          </h1>
        </div>
      </div>
    </div>
    <div class="container-fluid  px-lg-0 py-lg-0 d-block d-md-none d-lg-none">
      <div class="row">
        <div class="col-8 px-0">
          <h2 class="card-title display-5 text-dark font-weight-bolder text-uppercase mb-0">
            Requirements
        </h2>
        </div>
        <div class="col px-0">
          <h2 class=" card-title text-right display-5 text-dark text-uppercase font-weight-bolder mb-0">
            Step 1
          </h2>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid px-md-0 px-lg-0 ">
  <div class="row py-4 py-lg-8 mx-md-0 mx-lg-0 border border-dark border-top-0 border-left-0 border-right-0 border-width-3">
    <div class="col-12 col-md col-lg px-0 px-lg-0">
      <h4 class="text-center text-md-left text-lg-left  text-dark font-weight-bolder ">
        Was your line active for at least 30 days?
      </h4>
      <p class="card-text text-center text-md-left text-lg-left pr-lg-11 text-danger font-weight-bolder" id="30-days-active-line-invalid">
        You will need to have your account active for at least 30 days. Please contact Circledin Support for assistance.
      </p>
      <p class="card-text text-center text-md-left text-lg-left pr-lg-11 text-danger font-weight-bolder" id="30-days-active-line-no-select-option">
        Please select an answer
      </p>
    </div>
    <div class="col-12 col-md col-lg px-0 px-lg-0">
      <div class="container ">
        <div class="row  float-lg-right mt-3 mt-md-0 mt-lg-0 mx-0  mx-lg-0 px-md-0 px-lg-0">
          <div class="col  text-center  text-md-right px-md-0 px-lg-0">
            <div class="btn-group btn-group-toggle " data-toggle="buttons">
              <label class="btn btn-success border-radius-6 ml-0 mr-6  mx-lg-8 px-8  px-lg-8  ">
                <input type="radio" name="options" id="option11"> No
              </label>
              <label class="btn btn-success border-radius-6  px-8 px-lg-8 ">
                <input type="radio" name="options" id="option12"> Yes
              </label>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4 py-lg-8 mx-md-0 mx-lg-0 border border-dark border-top-0 border-left-0 border-right-0 border-width-3">
    <div class="col-12 col-md col-lg px-0 px-lg-0">
      <h4 class="text-dark text-center text-md-left text-lg-left  font-weight-bolder">
        Are you the owner of your current account?
      </h4>
      <p class="card-text pr-lg-11 text-center text-md-left text-lg-left text-danger font-weight-bolder" id="account-owner-invalid">
        You would need to be the account Owner to transition.
        Please contact Circledin Support for assistance.
      </p>
      <p class="card-text pr-lg-11 text-center text-md-left text-lg-left text-danger font-weight-bolder" id="account-owner-no-select-option">
        Please select an answer
      </p>
    </div>
    <div class="col-12 col-md col-lg px-0 px-lg-0">
      <div class="container">
        <div class="row float-lg-right mt-3 mt-md-0 mt-lg-0 mx-0 mx-lg-0 px-md-0 px-lg-0">
          <div class="col text-center text-md-right px-md-0 px-lg-0">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-success border-radius-6 ml-0 mr-6 mx-lg-8 px-8 px-lg-8  ">
                <input type="radio" name="options" id="option21"> No
              </label>
              <label class="btn btn-success border-radius-6 px-8 px-lg-8 ">
                <input type="radio" name="options" id="option22"> Yes
              </label>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4 py-lg-8 mx-md-0 mx-lg-0 border-0">
    <div class="col-12 col-md col-lg px-0 px-lg-0">
      <h3 class="text-dark text-center text-md-left text-lg-left font-weight-bolder">
        Trnasferring Billing Ownership
      </h3>
    </div>
    <div class="col-12 col-md col-lg px-md-0 px-lg-0">
      <div class="container">
        <div class="row float-md-right float-lg-right">
          <div class="col px-md-0 px-lg-0">
            <p class="card-text text-center text-md-left text-lg-left">
            Transferring your account to your new family plan can be done in 3 easy steps (~10 minutes)! Once you subscribe, a Circledin Success Representative will review the requirements.
            </p>
            <p class="card-text text-center text-md-left text-lg-left">
              Once approved, we'll  send you step b step directions to transfer into your new family plan.
              </p>
              <p class="card-text text-center text-md-left text-lg-left">
                Need additional help? Book an appointment with your Success  Representative and they will be happy to assist you with the process.
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>