<div class="card-header border border-dark border-top-0 border-left-0 border-right-0 border-width-3 pt-lg-10 px-lg-0">
    <h3 class="font-weight-bolder text-success"> Existing Verizon Customer  </h3>
    <div class="container-fluid px-lg-0 py-lg-0">
      <div class="row">
        <div class="col">
          <h1 class="card-title display-5 text-dark font-weight-bolder text-uppercase mb-lg-0">
            Order Complete! #CI-VZ54
        </h1>
        </div>
        <div class="col">
          <h1 class=" card-title text-right display-5 text-dark text-uppercase font-weight-bolder mb-lg-0">
            Finish
          </h1>
        </div>
      </div>
    </div>
</div>

<div class="container py-lg-8 text-center">
    <div class="row">
        <div class="col">
            <h1 class="card-title font-weight-bolder text-uppercase text-dark">
                Thank you for joining circledin
            </h1>
            <p class="card-text h2 text-dark px-lg-13">
                Your order has been placed and will be processed as soon as possible.
            </p>
            <p class="card-text h2 text-dark px-lg-13">
                Make sure you make note of your order number, which is <span class="font-weight-bolder text-uppercase">Ci-VA54</span>
            </p>
            <p class="card-text h2 text-dark px-lg-13">
                You will be receiving an email shortly with confirmation of your order.
            </p>
            
        </div>
    </div>
</div>