{% extends "Base.html" %}
{% load static %}
{% include "Landkit/META_TAG.html" %}
{% block title %}Frequently Asked Questions {% endblock %}
{% block content %}
<section class="bg-image-about-us-page-banner pb-0 py-lg-6 mt-n5 mt-lg-n9">
    <div class="container  mt-lg-13">
        <div class="row ">
            <div class="col-12 col-md-3 col-lg-3 order-1 order-lg-1" >
                <img src="{% static 'Landkit/images/v3/faqs.png' %}" class="people-img-faq mt-8 mt-lg-n12 ml-n6 ml-lg-10 pt-lg-3 " alt="circledin">
            </div>
            <div class="col-12 col-md-8 col-lg-8 order-2 order-lg-2 ">
                <h1 class=" text-left font-weight-bolder display-3 text-bluish text-shadow-bluish font-League-Spartan  mx-0  px-5 px-md-0 pt-md-3 pt-lg-2 pl-md-0 pl-lg-3 mt-n9  mt-md-12 mt-lg-n6  ml-7 ml-md-8 ml-lg-11">
                    <span class="text-uppercase" id="faqHeader">Frequently Asked Questions</span> 
                    <p class="h3 card-text text-bluish font-Glacial-Indifference mx-auto text-shadow-none pl-lg-2">
                        Got a question? We have answers! Let's chat.
                    </p>
                </h1>
                
            </div>
        </div>
    </div>
</section>
{% include 'app/Circledin_FAQ.html' %}
{% include "Landkit/footer.html" %}
{% endblock %}