{% extends 'Base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'music/js/plan_creation_select_plan_name.js' %}"></script>
<script src="{% static 'music/js/monthly_payment_line_update.js' %}"></script>

<!-- Modal -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-danger" id="exampleModalDeleteLabel">Delete Confirmation
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to want to delete that <span
                    class="text-danger font-weight-bold">{{ object.plan_name }}</span> plan?

                {% if object.get_subscription_objects %}




                <li class="list-group-item disabled " aria-disabled="true">Following will also be deleted as well</li>
                <ul class="list-group">
                    {% for j in object.get_subscription_objects %}

                    <li class="list-group-item">Subscribed By <span class="text-primary">{{ j.user.username }}</span>
                    </li>
                    {%  endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
                <a type="button" href="{% url 'DeletePlan' object.id %}"
                    class="btn btn-danger font-weight-bold">Confirm</a>
            </div>
        </div>
    </div>
</div>

<div class="row mr-0">
    
    <div class="col">

        <div class="mx-auto" style="width: 1000px;">
            <form method="POST">
                {% csrf_token %}
                <div class="card mt-5 mb-5" style=" width:45rem;">
                    <div class="shadow p-3 bg-white rounded">
                        <div class="card-header text-center bg-transparent border-0">
                            <h3>
                                Edit Plan
                            </h3>
                        </div>
                        <div class="card-body">
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <h5 class="alert-heading">{{ field.label }}</h5>
                                <hr>
                                <p class="mb-0">{{ error|escape }}</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Category</label>
                                        
                                        {% if categories %}
                                        <select name="category" required="" id="id_category" class="form-control" onchange="updateLine();" value="{{ object.category.id }}" >
                                          <option value="False" hidden disabled>Select</option>
                                          {% for category in categories %}
                                          <option value="{{ category.id }}" onclick="PlanCreationFunction('{{ category.slug }}', '{{ category.id }}');" {% if category.id == object.category.id %} selected {% endif %} >{{ category.slug|upper   }}</option>
                                          {% endfor %}
                                          
                                        </select>
                                        
                                      </div>

                                      <div class="form-group" id="selectContains">
                                        <label>Plan Name</label>
                      
                                        <select class="form-control" name="plan_name" id="id_plan_name_default" style="display: block;">
                                            <option hidden>Select Category First</option>
                                        </select>
                                      {% for category in categories %}
                                      
                                        
                      
                                        <select class="form-control" name="plan_name" id="id_plan_name_{{ category.slug }}" data-target="Verizon"
                                          style="display: none;">
                                          
                                          {% for j in category.categoryplanname_set.all %}
                                            <option value="{{ j.name }}">{{ j.name }}</option>
                                          {% endfor %}
                                        </select>
                      
                                      
                                      
                                      {% endfor %}
                                      {% endif %}
                                      
                                    </div>

                                    <div class="form-group">
                                        <label>Family Name</label>
                                        <input type="text" name="family_name" value="{{object.family_name}}"
                                            maxlength="150" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">

                                    <div class="form-group">
                                        <label>Total Available Slots</label>
                                        {{ form.total_slots }}
                                    </div>
                                    <div class="form-group">
                                        <label>Next Recurring Bill Date</label>

                                        <div class="input-group date" data-provide="datepicker" data-date-format="mm/dd/yyyy">
                                            <input type="text" name="monthly_payment_date"
                                                value="{{object.monthly_payment_date}}" maxlength="150"
                                                class="form-control">

                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>How much are you currently paying per line?</label>
                                        <input type="number" name="currently_monthly_payment_per_line" id="id_currently_monthly_payment_per_line"
                                            value="{{object.currently_monthly_payment_per_line}}" maxlength="150"
                                            class="form-control"  onkeyup="updateLine()">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-danger card-text" id="currentLinePayment"
                                            style="display: none;"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>Current Family Size</label>
                                        <input type="number" name="currentFamilySize" maxlength="3"
                                            {% if object.currentFamilySize %} value="{{ object.currentFamilySize}}"
                                            {% endif %} class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Additional Notes</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            name="notes">{{object.notes}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mt-2 font-weight-bold">Save Changes</button>
                        <a href="{% url 'Join' object.category.id object.id %}" class="btn btn-warning font-weight-bold mt-2">Cancel
                            Changes</a>
                        <button class="btn btn-danger mt-2 font-weight-bold" data-toggle="modal" data-target="#exampleModalDelete"
                            type="button">Cancel Plan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function()
    {
        $("#id_category select").val("{{ object.category.id }}");
        PlanCreationFunction('{{ object.category.slug }}', '{{ object.category.id }}');
        updateLine();
    })
</script>
{% endblock %}