{% load static humanize FindSubUser findNextMonth findNextYear findFindSubID findSubStatus FindSubObject findPaymentCurrentDay  findSubSlots findSubCancelStatus FindCategoryPlanInfo mathfilters findUserPhone FindPlanFixedPrice %}
<div class="card-header border border-dark border-top-0 border-left-0 border-right-0 border-width-3 pt-11 pt-lg-10 px-0 px-lg-0">
    <h3 class="font-weight-bolder text-success"> Get a new number  </h3>
    <div class="container-fluid  px-lg-0 py-lg-0 d-none d-lg-block">
      <div class="row">
        <div class="col">
          <h1 class="card-title display-5 text-dark font-weight-bolder text-uppercase mb-lg-0">
            Confirm & Pay
        </h1>
        </div>
        <div class="col">
          <h1 class=" card-title text-right display-5 text-dark text-uppercase font-weight-bolder mb-lg-0">
            Step 2
          </h1>
        </div>
      </div>
    </div>
    <div class="container-fluid  px-0 px-lg-0 py-0 py-lg-0 d-block d-lg-none">
        <div class="row">
          <div class="col">
            <h1 class="card-title  text-dark font-weight-bolder text-uppercase text-nowrap font-size-lg mb-0 mb-lg-0">
              Confirm & Pay
          </h1>
          </div>
          <div class="col">
            <h1 class=" card-title text-right text-dark text-uppercase font-weight-bolder font-size-lg mb-0 mb-lg-0">
              Step 2
            </h1>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid px-0 px-lg-0">
    <div class="row py-4 py-lg-5">
        <div class="col-12  col-md-7 col-lg-7">
            <div class="container">
                <div class="row">
                    <h1 class="font-weight-bolder  text-dark text-uppercase mb-1 mb-lg-1 d-none d-md-block">
                        Review
                    </h1>
                    <h2 class="font-weight-bolder  text-dark text-uppercase mb-1 mb-lg-1 d-block d-md-none">
                        Order Summary
                    </h2>
                </div>
                <div class="row border border-dark border-top-0 border-left-0 border-right-0 border-bottom-0 border-width-3 pb-4 pb-lg-4">
                    <div class="col-12 d-none d-md-block">
                        <div class="row">
                            <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mb-1 mb-lg-1  mx-0 mx-md-0 mx-lg-0">
                                Plan
                            </h3>
                        </div>
                        <div class="row">
                            <p class="card-text h4 mx-0 mx-md-0  mx-lg-0">
                                {{ plan.category }} - {{ plan.plan_name }} Plan
                            </p>
                        </div>
                    </div>
                    
                    <!-- TODO   :   START OF INPUT FIELDS START -->
                            {% with ''|center:NUMBER_OF_GUESTS as range %}
                            {% for _ in range %}
                            <div class="col-6 col-md-6 col-lg-6  border border-dark border-width-3 border-top-0 border-left-0 border-right-0">
                        
                                <div class="row pt-3 pt-lg-3">
                                    <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mx-0 mx-md-0 mx-lg-0 mb-1 mb-lg-1">
                                        IMEI 
                                    </h3>
                                </div>
                                <div class="row">
                                    <p class="card-text h4 mx-0 mx-md-0 mx-lg-0" >
                                        <span  id="IMEI_Step_{{ forloop.counter }}">12345678912345678</span>
                                    </p>
                                </div>
                                <div class="row pt-3 pt-lg-3">
                                    <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mx-0 mx-md-0 mx-lg-0 mb-1 mb-lg-1">
                                        eSIM/Digital SIM
                                    </h3>
                                </div>
                                <div class="row">
                                    <p class="card-text h4 mx-0 mx-md-0 mx-lg-0" >
                                        <span id="ESIM_Step_{{ forloop.counter }}">1717171717171717171717</span>
                                    </p>
                                </div>
                                
                            </div>
                            
                            <div class="col-6  col-md-6 col-lg-6 pl-8 pl-md-8 pl-lg-7 border border-dark border-width-3 border-top-0 border-left-0 border-right-0 pb-4">
                                <div class="row pt-3 pt-md-0 pt-lg-3">
                                    <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mx-0 mx-md-0 mx-lg-0 mb-0  mb-lg-1">
                                        ICCID
                                    </h3>
                                </div>
                                <div class="row">
                                    <p class="card-text h4 text-md-left mx-0 mx-md-0 mx-lg-0">
                                        <span id="ICCID_Step_{{ forloop.counter }}" >12345678912345678</span>
                                    </p>
                                </div>
                                <div class="row pt-3 pt-md-3 pt-lg-3">
                                    <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mx-0 mx-md-0 mx-lg-0 mb-lg-1">
                                        Area Code
                                    </h3>
                                </div>
                                <div class="row">
                                    <p class="card-text h4 text-md-left mx-0 mx-md-0 mx-lg-0">
                                        <span id="Area_Code_Step_{{ forloop.counter }}">12345678912345678</span>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                            {% endwith %}
                    <!-- TODO   :   END OF INPUT FIELDS START -->
                </div>

                <div class="row pt-md-0 pt-lg-0">
                    <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mb-1 mb-lg-1 mx-0 mx-md-0 mx-lg-0">
                        Next Steps
                    </h3>
                </div>
                <div class="row border-0 border-width-3 pb-4 pb-lg-4">
                    <p class="card-text h4 text-md-left  text-lg-left mx-0 mx-lg-0 mx-lg-0 px-0 px-md-0 px-lg-0">
                        We'll begin processing your order and you should expect to receive your new Sim Card and number within 2 business days. You'll receive an email confirmation shortly.
                    </p>
                </div>
                <div class="row pt-md-0 pt-lg-0">
                    <h3 class="font-weight-bolder text-dark text-md-left text-lg-left mb-1 mb-lg-1 mx-0 mx-md-0 mx-lg-0">
                        Having issues?
                    </h3>
                </div>
                <div class="row border border-dark border-top-0 border-left-0 border-right-0 border-width-3 pb-4 pb-lg-4">
                    <p class="card-text h4 text-md-left  text-lg-left mx-0 mx-lg-0 mx-lg-0 px-0 px-md-0 px-lg-0">
                        Feel free to book an appointment with your designated Customer Success Representative by going to "My Profile" and they will be happy to assist you with the process.
                    </p>
                </div>
                <div class="row border border-dark border-width-3  border-top-0 border-left-0 border-right-0 pt-3 pb-4 pb-lg-4 d-block d-md-none d-lg-none">
                    <div class="col-12 col-lg">
                        <div class="card border-0">
                            
                            <div class="card-body pt-3 px-0">
                                <div class="container-fluid">
                                    <div class="row py-1">
                                        <div class="col">
                                            <p class="card-text h3 text-left font-weight-bolder text-dark">
                                                {{ plan.category }} - {{ plan.plan_name }} Plan
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row py-1">
                                        <div class="col-8">
                                            <p class="card-text h3 text-nowrap">
                                                Number of cell phone lines
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text font-weight-bolder h3 text-right text-dark">
                                                <span id="number-of-guests">1</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row py-1">
                                        <div class="col-7">
                                            <p class="card-text h3">
                                                Subscription Fees
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text font-weight-bolder h3 text-right text-dark">
                                                $<span id="subscription-form-fees">5</span>/month
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row py-1">
                                        <div class="col">
                                            <p class="card-text h3">
                                                Mobile Cost
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text font-weight-bolder h3 text-right text-dark">
                                                $<span id="subscription-form-monthly">{{ plan.id|FindPlanFixedPrice }}</span>/month
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="text-dark border border-dark ">
                                    <div class="row py-1">
                                        <div class="col">
                                            <p class="card-text h3 font-weight-bolder text-dark">
                                                Total
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text font-weight-bolder h3 text-right text-dark">
                                                $<span id="subscription-form-total">35</span>/month
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TODO: PAYMENT FORM START -->
                <div class="row py-3 py-md-4 py-lg-5">
                    <div class="col px-md-0 px-lg-0">
                        <h2 class="card-title font-weight-bolder text-uppercase text-dark mb-md-0 mb-lg-0">
                            Payment Information 
                        </h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col px-md-0 px-lg-0 ">
                        <form  id="subscription-form"  method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-12 col-md col-lg ">
                                    <label for="example5-name" class="font-weight-bolder text-dark h3">First Name</label>
                                    <input type="text" class="form-control bg-light" id="example5-name" required="">
                                    <div class="invalid-feedback text-danger font-weight-bolder">
                                        Please provide a valid first name.
                                      </div>
                                </div>
                                    <div class="form-group col-12 col-md col-lg">
                                    <label for="inputPassword4" class="font-weight-bolder text-dark h3">Last Name</label>
                                    <input type="text" class="form-control bg-light" id="inputPassword4" required="">
                                    <div class="invalid-feedback text-danger font-weight-bolder">
                                        Please provide a valid last name.
                                      </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md col-lg ">
                                    <label for="emailid " class="font-weight-bolder text-dark h3">Email Address</label>
                                    <input type="text" class="form-control bg-light" id="example5-email" required="">
                                    <div class="invalid-feedback text-danger font-weight-bolder">
                                        Please provide a valid email.
                                      </div>
                                    </div>
                                    <div class="form-group col-12 col-md col-lg">
                                    <label for="example5-phone" class="font-weight-bolder text-dark h3">Phone Number</label>
                                    <input type="tel" class="form-control bg-light" id="example5-phone" maxlength="12" required="">
                                    <div class="invalid-feedback text-danger font-weight-bolder">
                                        Please provide a valid phone number.
                                      </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="example5-address" class="font-weight-bolder h3 text-dark">Street Address</label>
                                <input type="text" class="form-control bg-light" id="example5-address" placeholder="" required="">
                                <div class="invalid-feedback text-danger font-weight-bolder">
                                    Please provide a valid address.
                                  </div>
                            </div>
                            <div class="form-row pb-lg-4">
                                <div class="form-group col-12 col-md col-lg">
                                    <label for="example5-city" class="font-weight-bolder text-dark h3">City</label>
                                    <input type="text" class="form-control bg-light" id="example5-city" required="">
                                    <div class="invalid-feedback text-danger font-weight-bolder">
                                        Please provide a valid city.
                                      </div>
                                </div>
                                <div class="form-group col-12 col-md col-lg">
                                    <label for="example5-state" class="font-weight-bolder text-dark h3">State</label>
                                    <select id="example5-state" required data-tid="elements_examples.form.state_placeholder" class="input empty form-control" autocomplete="address-level1" >
                                        <option  selected="" value="None" >Select State</option>
                                        <option value="AL" >AL</option>
                                        <option value="AK" >AK</option>
                                        <option value="AR" >AR</option>
                                        <option value="AZ" >AZ</option>
                                        <option value="CA" >CA</option>
                                        <option value="CO" >CO</option>
                                        <option value="CT" >CT</option>
                                        <option value="DC" >DC</option>
                                        <option value="DE" >DE</option>
                                        <option value="FL" >FL</option>
                                        <option value="GA" >GA</option>
                                        <option value="HI" >HI</option>
                                        <option value="IA" >IA</option>
                                        <option value="ID" >ID</option>
                                        <option value="IL" >IL</option>
                                        <option value="IN" >IN</option>
                                        <option value="KS" >KS</option>
                                        <option value="KY" >KY</option>
                                        <option value="LA" >LA</option>
                                        <option value="MA" >MA</option>
                                        <option value="MD" >MD</option>
                                        <option value="ME" >ME</option>
                                        <option value="MI" >MI</option>
                                        <option value="MN" >MN</option>
                                        <option value="MO" >MO</option>
                                        <option value="MS" >MS</option>
                                        <option value="MT" >MT</option>
                                        <option value="NC" >NC</option>
                                        <option value="NE" >NE</option>
                                        <option value="NH" >NH</option>
                                        <option value="NJ" >NJ</option>
                                        <option value="NM" >NM</option>
                                        <option value="NV" >NV</option>
                                        <option value="NY" >NY</option>
                                        <option value="ND" >ND</option>
                                        <option value="OH" >OH</option>
                                        <option value="OK" >OK</option>
                                        <option value="OR" >OR</option>
                                        <option value="PA" >PA</option>
                                        <option value="RI" >RI</option>
                                        <option value="SC" >SC</option>
                                        <option value="SD" >SD</option>
                                        <option value="TN" >TN</option>
                                        <option value="TX" >TX</option>
                                        <option value="UT" >UT</option>
                                        <option value="VT" >VT</option>
                                        <option value="VA" >VA</option>
                                        <option value="WA" >WA</option>
                                        <option value="WI" >WI</option>
                                        <option value="WV" >WV</option>
                                        <option value="WY" >WY</option>
                                    </select>
                                    <div class="invalid-feedback text-danger font-weight-bolder" id="selectTagError">
                                        Please provide a valid state.
                                      </div>
                                </div>
                                <div class="form-group col-12 col-md col-lg">
                                    <label for="example5-zip" class="font-weight-bolder text-dark h3">Zip Code</label>
                                    <input type="text" class="form-control bg-light" id="example5-zip" required="">
                                    <div class="invalid-feedback text-dange font-weight-bolder">
                                        Please provide a valid zip.
                                      </div>
                                </div>
                            </div>
                            <hr class="border border-dark border-top-0 border-left-0 border-right-0 border-width-3 ">           

                            <div class="field">
                                <label for="example5-card" data-tid="elements_examples.form.card_label" class="font-weight-bolder text-dark h3">Card</label>
                                <div id="example5-card" class="input bg-light"></div>
                              </div>
                            
                           


                            <input type="text"  id="category_id_join" value="{{ plan.category.id }}" hidden>
                            <input type="hidden" id="plan_id_join" value="{{ plan.id }}">
                            <input type="hidden" value="{{ NUMBER_OF_GUESTS }}" id="slots">
                            <input id="joiningCondition" hidden value="New Number">
                            <input type="hidden" name="g-recaptcha-response" id='recaptcha_join'>
                            <input type="hidden" id="switch_1" value="">
                            <input type="hidden" id="switch_2" value="">
                            <input type="hidden" id="switch_3" value="">
                            <input type="hidden" id="switch_4" value="">
                            <input type="submit" value="Submit" class="btn btn-success fontw-weight-bolder float-right mt-4 mt-lg-4 w-25 pl-7 pl-md-0 pr-11 pr-md-0">
                        </form>
                    </div>
                </div>
                <!-- TODO: PAYMENT FORM END -->
            </div>
        </div>
        <div class="col-12 col-md col-lg d-none d-md-block d-lg-block "> 
            <div class="card border border-dark border-width-3 rounded-lg">
                <div class="card-header border border-dark border-top-0 border-left-0 border-right-0 border-width-3 py-md-2 py-lg-2 pr-md-0 my-md-0  my-lg-0">
                    <h2 class="card-title text-uppercase font-weight-bolder text-dark mx-md-0 text-lg-left mb-md-0 mb-lg-0">
                        Order Summary
                    </h2>
                </div>
                <div class="card-body px-md-1 px-lg-4">
                    <div class="container pr-md-1 pr-lg-2">
                        <div class="row">
                            <div class="col">
                                <p class="card-text h3 font-weight-bolder">
                                    {{ plan.category }} - {{ plan.plan_name }} Plan
                                </p>
                            </div>
                        </div>
                        <div class="row py-md-2 py-lg-2">
                            <div class="col col-md-8 col-lg-8">
                                <p class="card-text h3">
                                    Number of cell phone lines
                                </p>
                            </div>
                            <div class="col  col-md col-lg">
                                <p class="card-text font-weight-bolder  text-right text-dark">
                                    <span id="number-of-guests">3</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-7 col-lg pr-md-0">
                                <p class="card-text h3">
                                    Subscription Fees
                                </p>
                            </div>
                            <div class="col  col-md col-lg">
                                <p class="card-text font-weight-bolder  text-right text-dark text-nowrap">
                                    $<span id="subscription-form-fees">5</span>/month
                                </p>
                            </div>
                        </div>
                        <div class="row py-md-2 py-lg-2">
                            <div class="col">
                                <p class="card-text h3">
                                    Mobile Cost
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text font-weight-bolder  text-right text-dark">
                                    $<span id="subscription-form-monthly">{{ plan.id|FindPlanFixedPrice }}</span>/month
                                </p>
                            </div>
                        </div>
                        <hr class="text-dark border border-dark ">
                        <div class="row py-lg-2">
                            <div class="col">
                                <p class="card-text h3 font-weight-bolder text-dark">
                                    Total
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text font-weight-bolder  text-right text-dark">
                                    $<span id="subscription-form-total">35</span>/month
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>