<div class="card-header border border-dark border-top-0 border-left-0 border-right-0 border-width-3 pt-11 pt-lg-10 px-0 px-lg-0">
    <h3 class="font-weight-bolder text-success"> Get a new number  </h3>
    <div class="container-fluid px-lg-0 py-lg-0 d-none  d-lg-block">
      <div class="row">
        <div class="col">
          <h1 class="card-title display-5 text-dark font-weight-bolder text-uppercase mb-lg-0">
            Device Compatibility
        </h1>
        </div>
        <div class="col">
          <h1 class=" card-title text-right display-5 text-dark text-uppercase font-weight-bolder mb-lg-0">
            Step 1
          </h1>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0 px-lg-0 py-0 py-lg-0 d-block d-lg-none">
      <div class="row">
        <div class="col">
          <h1 class="card-title  text-dark font-weight-bolder text-uppercase text-nowrap font-size-lg mb-0 mb-lg-0">
            Device Compatibility
        </h1>
        </div>
        <div class="col">
          <h1 class=" card-title text-right text-dark text-uppercase font-weight-bolder font-size-lg mb-0 mb-lg-0">
            Step 1
          </h1>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid px-0 px-lg-0 ">
  <div class="row py-4 py-md-6  py-lg-8 mx-0 mx-lg-0 border border-dark border-top-0 border-left-0 border-right-0 border-width-3">
    <div class="col-12 col-md col-lg px-0 px-lg-0 py-3 py-md-0 py-lg-0">
      <h3 class="text-dark font-weight-bolder text-center text-md-left text-lg-left">
        Will my phone work on this network?
      </h3>
      <p class="card-text text-left text-lg-left px-4 px-md-0  px-lg-0 pr-0 pr-md-8 pr-lg-11 text-dark  font-weight-normal" >
        We recommend checking with the specific carrier to see if your device is compatible on their network. Optionally, type in your IMEI, ICCID and eSIM/Digital SIM and we'll be happy to check for you. 
      </p>
    </div>
    <div class="col-12 col-md col-lg px-0 px-lg-0">
      <div class="container">
        <div class="row px-0 px-lg-5">
          <div class="col">
            {% if NUMBER_OF_GUESTS == 1 or  NUMBER_OF_GUESTS == "1" %}
            <div class="row">
              <!-- TODO:  START MULTIPLE IMEI HANDLER -->
                  <input type="text" class="form-control border col-12 border-dark  bg-light mt-1" 
                  placeholder="IMEI" name="IMEI"  id="IMEI_1" required maxlength="17" />
                  <input type="text" class="form-control border col-12 border-dark   bg-light  mt-1" 
                  placeholder="ICCID  (optional)"  name="ICCID"  required maxlength="17" />
                  <input type="text" class="form-control border col-12 border-dark  bg-light mt-1" 
                  placeholder="eSIM/Digital SIM  (optional)" name="ESIM"  required maxlength="17" />
            </div>
              {% else %}
              {% with ''|center:NUMBER_OF_GUESTS as range %}
                {% for _ in range %}
            <div class="row mt-2">
              <div class="col pl-0">
                <p class="card-text h3 font-weight-bolder text-dark">
                    Cell phone line #{{ forloop.counter }}
                </p>
              </div>
                      <input type="text" class="form-control border col-12 border-dark  bg-light mt-1" 
                    placeholder="IMEI" name="IMEI" id="IMEI_1" required maxlength="17" />
                    <input type="text" class="form-control border col-12 border-dark    bg-light  mt-1" 
                    placeholder="ICCID  (optional)" name="ICCID"  required maxlength="17" />
                    <input type="text" class="form-control border col-12 border-dark  bg-light mt-1" 
                    placeholder="eSIM/Digital SIM  (optional)"  name="ESIM" required maxlength="17" />
            </div>
                {% endfor %}
                {% endwith %}
              <!-- TODO:  END MULTIPLE IMEI HANDLER -->
            {% endif %}
              <p class="card-text text-dark mt-2 font-weight-bolder mb-2" style="font-size: 0.9rem !important;">
              Not sure how to get your IMEI? Follow one of the steps below
              </p>
              <ol class="font-size-sm" style="font-size: 0.8rem !important;">
              <li>Enter <span class='font-weight-bolder'>*#06#</span> on your phone's dial pad.</li>
              <li>Check in the settings:
              <div>a. <span class='font-weight-bolder'>Android</span>: Go to Settings > About device > Status</div>
              <div>b. <span class='font-weight-bolder'>iPhone</span>: Go to Settings > General > About</div>
              <div>c. <span class='font-weight-bolder'>Windows Phone</span>: Go to Settings > About > More info</div>
              </li>
          </ol>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row py-4 py-md-6 py-lg-8 mx-0 mx-lg-0 border border-dark border-top-0 border-left-0 border-right-0 border-bottom-0   border-width-3">
    <div class="col-12 col-md col-lg py-3 py-md-0 py-lg-0 px-0 px-lg-0">
      <h3 class="text-dark font-weight-bolder text-center text-md-left text-lg-left">
        Location
      </h3>
      <p class="card-text text-dark font-weight-normal text-left px-5 px-md-0 px-lg-0 pr-lg-10 " >
          Please  enter in a valid area code you would like your new number to be in
      </p>
    </div>
    <div class="col-12 col-md col-lg  px-0 px-lg-0">
      <div class="container">
        <div class="row  px-lg-5">
          <div class="col">
            <!-- TODO: START:  Multiple Add Button For AREA CODE -->
            {% if NUMBER_OF_GUESTS == 1 or NUMBER_OF_GUESTS == "1" %}  
              <input type="text" class="form-control border border-dark bg-light mb-1" id="id_Area_code"
                  placeholder="Area Code" name="AreaCode" required maxlength="5">
            {% else %}
                {% with ''|center:NUMBER_OF_GUESTS as range %}
                {% for _ in range %}
                <p class="card-text h3 font-weight-bolder text-dark mb-1 mt-3">
                  Cell phone line #{{ forloop.counter }}
                </p>
                <input type="text" class="form-control border border-dark bg-light mb-1 col-12" id="id_Area_code"
                    placeholder="Area Code" name="AreaCode" required maxlength="5">
                {% endfor %}
                {% endwith %}
            {% endif %}
            <!-- TODO: END:  Multiple Add Button For AREA CODE -->
          </div>
        </div>
      </div>
    </div>
  </div>

  

</div>
