{% extends 'Base.html' %}
{% load static humanize FindSubUser findNextMonth findNextYear findFindSubID findSubStatus FindSubObject findPaymentCurrentDay  findSubSlots findSubCancelStatus FindCategoryPlanInfo mathfilters FindPlanFixedPrice  %}
{% include "Landkit/META_TAG.html" %}
{% block title %} Join a Plan {% endblock %}
{% block content %}
<style>
  .inner 
  {
    overflow-y: auto !important;
    overflow-x: hidden !important;  
  }
  @media (min-width:200px ) and (max-width:  700px){
    .vh-15{
      height: 15vh;
    }

    .border-width-10{
      border-width: 10px !important;
    }

  }
</style>
{% autoescape off %}
{% include 'modals/FeedbackForms.html' with edit=False subs=request.user|FindSubObject:plan.id   %}
{% with x=plan.familySize y=plan.currentFamilySize %}
<section  class="pt-5 pt-md-5 pt-lg-7 pt-xl-7 pb-10 pb-md-10 pb-lg-12 pb-xl-12  bg-dark-black bg-join-plan-detail-pattern">
  <div class="container">
    <div class="row justify-content-center  mt-10 mt-lg-4">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <h1 class="display-2 font-weight-bolder  text-white text-center text-uppercase font-League-Spartan d-none d-md-none d-lg-block" >
          {{ plan.category }} - {{ plan.plan_name }}
        </h1>
        <h1 class=" font-weight-bolder  text-white text-center text-uppercase font-size-lg font-League-Spartan  d-block d-md-none d-lg-none" >
          {{ plan.category }} - {{ plan.plan_name }}
        </h1>
        <h2 class=" display-2 font-weight-bolder  text-white text-center text-uppercase  font-League-Spartan d-none d-md-block d-lg-none" >
          {{ plan.category }} - {{ plan.plan_name }}
        </h2>
      </div>
    </div>
    <div class="row justify-content-center mt-5 ml-1 mr-1">
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 text-center vh-15 vh-sm-25 vh-md-25 vh-lg-25 vh-xl-25 {% if plan.category.Name == 'Verizon'%} bg-Venetian-Red  text-white {% elif plan.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card text-white  {% else %} bg-fresh-color text-white  {% endif %} ml-md-1 ml-lg-1 ml-xl-1 mr-md-1 mr-lg-1 mr-xl-1"  >
        <div class="center position-xl-relative position-relative">
          <span class="h4 font-weight-bold p-md-0 p-lg-0 p-xl-0">{{ plan.id|FindCategoryPlanInfo:"1" }}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 {% if plan.category.Name == 'Verizon'%} bg-Venetian-Red   text-white {% elif plan.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card text-white {% else %} bg-fresh-color {% endif %} vh-15 vh-sm-25 vh-md-25 vh-lg-25  vh-xl-25 text-center  mt-1 mt-md-0 mt-lg-0 mt-xl-0 mr-md-1 mr-lg-1 mr-xl-1" >
        <div class="center position-xl-relative position-relative">
          <span class="h4  font-weight-bold " >{{ plan.id|FindCategoryPlanInfo:"3" }}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3  text-center vh-15 vh-sm-25 vh-md-25 vh-lg-25  vh-xl-25 {% if plan.category.Name == 'Verizon' %} bg-Venetian-Red  text-white {% elif plan.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card text-white {% else %} bg-fresh-color {% endif %}   mt-md-1 mr-md-1 mt-1 mt-md-0 mt-lg-0 mt-xl-0 "   >
        <div class="center position-xl-relative position-relative">
          <span class="h4 font-weight-bold ">{{ plan.id|FindCategoryPlanInfo:"5" }}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3  text-center vh-15 vh-sm-25 vh-md-25 vh-lg-25  vh-xl-25  {% if plan.category.Name == 'Verizon'%} bg-Venetian-Red  text-white {% elif plan.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card text-white  {% else %} bg-fresh-color {% endif %}   mr-md-0 mr-lg-1 mr-xl-1 mt-1 mt-md-1 mt-lg-1 mt-xl-1 " >
        <div class="center position-xl-relative position-relative">
          <span class="h4 font-weight-bold">{{ plan.id|FindCategoryPlanInfo:"2" }}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3  text-center vh-15 vh-sm-25 vh-md-25 vh-lg-25  vh-xl-25  {% if plan.category.Name == 'Verizon'%} bg-Venetian-Red  text-white {% elif plan.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card text-white  {% else %} bg-fresh-color {% endif %} mr-md-1 ml-md-0  mr-lg-1 mr-xl-1 mt-1 mt-md-1  mt-lg-1 mt-xl-1">
        <div class="center position-xl-relative position-relative">
          <span class="h4  font-weight-bold">{{ plan.id|FindCategoryPlanInfo:"4" }}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3   {% if plan.category.Name == 'Verizon'%} bg-Venetian-Red  text-white {% elif plan.category.Name == 'T-Mobile' %} bg-T-Mobile-plan-card text-white {% else %} bg-fresh-color {% endif %} text-center vh-15 vh-sm-25 vh-md-25 vh-lg-25  vh-xl-25  mt-1 mt-md-1 mt-lg-1 mt-xl-1 "  >
        <div class="center position-xl-relative position-relative">
          <span class="h4 font-weight-bold ">+{{ plan.total_slots }} Spots Left </span>
        </div>
      </div>
      </div>
  </div>
</section>
<section class="bg-light p-2 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7 col-xl-7">
        <div class="container-fluid mt-lg-n8">
          <div class="row">
            <div class="col-2" >
              {% if plan.category.Name == "T-Mobile" %}
              <img src="{% static 'Landkit/images/v3/tmobile_arrow.png' %}" alt="Circledin" class="img-arrow mt-0 ml-2 ml-md-0 mt-md-2 mt-lg-9 ml-lg-n8">
              {% else %}
                <img src="{% static 'Landkit/images/v3/verizon_arrow.png' %}" alt="Circledin" class="img-arrow  mt-0  ml-2 ml-md-0 mt-md-0 mt-lg-8 pt-lg-3 ml-lg-n8">
              {% endif %}
            </div>
            <div class="col px-0 px-lg-2">
              <h3 class=" display-5  pl-3  pt-3   text-dark font-weight-bolder text-bluish  pb-lg-0 mb-lg-0  mt-lg-9 ml-lg-n10 pt-lg-1 text-uppercase font-League-Spartan  d-none d-lg-block">{{ plan.category.Name }} - {{ plan.id|FindCategoryPlanInfo }}</h3>
              <h2 class=" pl-0 pt-4 mt-1 mt-md-1 pt-md-4   text-dark font-weight-bolder text-bluish  pb-lg-0 mb-lg-0  mt-lg-7 ml-lg-n11 pt-lg-5 {% if plan.category.Name == 'T-Mobile' %} pt-5   mt-n2 {% endif %} text-uppercase font-League-Spartan d-block d-lg-none mb-0 font-size-ipad-11-2018">{{ plan.category.Name }} - {{ plan.id|FindCategoryPlanInfo }}</h2>
              <p class="card-text h4 text-bluish font-weight-normal pl-0 ml-lg-n10 pl-lg-2 mb-0">Family Name : {{ plan.family_name }} | {{ plan.total_slots }} spots left</p>
              <p class="card-text h4 text-bluish font-weight-normal font-italic pl-0 ml-lg-n10 pl-lg-2">Community Member since {{ plan.created|date:"M" }} {{ plan.created|date:"Y" }}</p></div>
          </div>
        </div>
        <div class="container">
          <div class="row mt-lg-n8">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6  mt-md-0 ml-6 ml-lg-0" >
              <div class="d-flex">
                <span class="h3 align-self-end pt-3 mt-1 text-bluish font-weight-bold">Family Rules</span>
              </div>
              <div class="d-flex">
                <ul class="list-group pl-5">
                  {% for i in familyRules %}
                  <li class="text-bluish">{{ i.explanation }}</li>
                  {% empty %}
                  <li class="text-bluish">No Family Rules has been decided yet.</li>
                {% endfor %}
                </ul>
              </div>
              <div class="d-flex ">
                <span class="card-text  pt-3 mt-1 text-bluish font-weight-bold text-nowrap d-none d-lg-block">Payment Date</span>
                <span class="card-text  pt-3 mt-1 text-bluish font-weight-bold text-nowrap d-none d-lg-block">&nbsp;{{ plan.monthly_payment_date|findPaymentCurrentDay|ordinal }} of each month</span>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-0 mt-md-0 ml-6 ml-lg-0">
              <div class="d-flex">
                <span class="h3 align-self-end pt-3 mt-1 text-bluish font-weight-bold">Cancellation Policy</span>
              </div>
              <div class="d-flex">
                <ul class="list-group pl-5">
                  {% for i in CncellationPolicy %}
                  <li class="text-bluish" >{{ i.explanation }}</li>
                  {% empty %}
                  <li class="text-bluish">No Cancellation Policy has been decided yet.</li>
                {% endfor %}
                </ul>
              </div>
              <div class="d-flex ">
                <span class="card-text  pt-3 mt-1 text-bluish font-weight-bold  d-block d-lg-none">Payment Date</span>
              </div>
              <div class="d-flex">
                <span class="card-text  text-bluish font-weight-bold pl-3 d-block d-lg-none">&nbsp;{{ plan.monthly_payment_date|findPaymentCurrentDay|ordinal }} of each month</span> 
              </div>
            </div>
          </div>
        </div>
        <hr class="text-dark border border-secondary" >
        <div class="container d-none">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-xl-8">
              <div class="d-flex">
                <span class="h5 align-self-end pt-3 mt-1 text-bluish font-weight-bold">If you run into an issues with your phone bill, need a new SIM or anything of that nature, please feel free to contact me and I'wll make sure you get what you need.</span>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4">
              <div class="form-group">
                <button class="btn text-white bg-fresh-color p-2 w-100" type="button" >Contact  Me</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-xl-8">
              <div class="d-flex">
                <span class="h5   mt-1 text-bluish font-weight-bold">Contact Circledin Support if you have any questions regarding your order.</span>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 mt-3 pl-0 pr-0" >
              <div class="form-group">
                <a class="btn btn-atoll  p-lg-1 w-100 text-uppercase font-size-sm h-100 text-nowrap" type="button" href="{% url 'contact' %}" >Ask a question</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="text-dark border border-secondary" >
        <!-- ! LARGE SCREENS -->
        <div class="container pl-0 pr-0 d-none d-md-none d-lg-block d-xl-block">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-2">
              <div class="card bg-transparent">
                <div class="card-body"  style="border-top-right-radius: 50px; border-bottom-right-radius: 50px; border-top-left-radius: 50px;border-bottom-left-radius: 50px;">
                    <div class="container pl-3 pr-1">
                      <div class="row ">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3">
                          <div class="row d-none d-md-none d-lg-block d-xl-block">
                            <span class="badge badge-lg badge-primary badge-rounded-circle  pt-8  pl-8  pr-8 pb-9" style="background-color: #579B9D !important; border: #3D948F solid 5px;">
                              <span class="font-size-xs pl-n6 pt-1  text-uppercase text-dark ml-n5 mr-5 font-weight-bolder " style="position: relative; left: -7px;">Join Plan</span>
                            </span>
                          </div>
                          <hr class= " w-lg-50   ml-lg-10 d-none d-lg-block text-dark" style="margin-top: -55px !important; height: 5px; color: #1b2a4e; background-color: #1b2a4e;" >  
                        </div>
                        
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3  ">
                          <div class="row d-none d-md-none d-lg-block d-xl-block">
                            <span class="badge badge-lg badge-primary badge-rounded-circle  pt-8 pr-8 pl-8 pb-9" style="background-color: #9ED0C9 !important; border: #3D948F solid 5px;">
                              <span class="font-size-xs text-uppercase text-dark ml-n4 mr-4" style="position: relative; left: -5px;">Owner</span>
                              <span class="font-size-xs text-uppercase text-dark ml-n5 mr-4"style="position: relative; left: -7px;">Approval</span>
                            </span>
                          </div>
                          <hr class=" w-lg-50   ml-lg-10 d-none d-lg-block" style="margin-top: -55px !important; height: 5px; color: #1b2a4e; background-color: #1b2a4e;"> 
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3  ">
                          <div class="row d-none d-md-none d-lg-block d-xl-block">
                            <span class="badge badge-lg badge-primary badge-rounded-circle  pt-8  pl-8 pr-8 pb-9  "  style="background-color: #9ED0C9 !important; border: #3D948F solid 5px;">
                              <span class="font-size-xs pl-n6  text-uppercase text-dark ml-n4 mr-4" style="position: relative; left: -5px;">Review</span>
                              <span class="font-size-xs pl-n6  text-uppercase text-dark ml-n5 pl-1 mr-4 " style="position: relative; left: -7px;">Payment</span>
                            </span>
                          </div>
                          <hr class=" w-lg-50   ml-lg-10 d-none d-lg-block" style="margin-top: -55px !important; height: 5px; color: #1b2a4e; background-color: #1b2a4e;"> 
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3">
                          <div class="row d-none d-md-none d-lg-block d-xl-block">
                            <span class="badge badge-lg badge-primary badge-rounded-circle  pt-8  pl-8 pr-8 pb-9" style="background-color: #9ED0C9 !important; border: #3D948F solid 5px;">
                              <span class="font-size-xs pl-n6  pt-lg-1 text-uppercase text-dark ml-n4 mr-4" style="position: relative; left: -0px;">Finish</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ! IPHONE + IPADS -->
        <div class="container-fluid pl-0 pr-0 d-block d-md-block d-lg-none ">
          <div class="row px-0 mx-0">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-2 px-0 mx-0">
              <div class="card bg-transparent">
                <div class="card-body px-0 mx-0"  >
                    <div class="container-fluid pl-6 pr-0 mx-0">
                      <div class="row ">
                        <div class="col-2 pl-0">
                          <div class="row d-block d-md-block d-lg-none ">
                            <span class="badge badge-lg badge-primary badge-rounded-circle   pt-6 pb-8 pl-6 pr-6" style="background-color: #579B9D ; border: #3D948F solid 2px;">
                              <span class=" ml-n2 mr-2 text-uppercase text-dark  font-weight-bolder font-size-xs" style="position: relative; left: -2px; font-size: 11px;">Join</span>
                              <span class="  ml-n2 mr-2  text-uppercase text-dark  font-weight-bolder " style="position: relative; left: -4px; font-size: 11px;">Now</span>
                            </span>
                          </div>
                          <hr class=" border-dark w-100 ml-8 mt-n7 d-block d-lg-none" style=" height: 5px; color: #1b2a4e; background-color: #1b2a4e;"> 
                        </div>
                        <div class="col-2 pl-0 ml-5 pl-1">
                          <div class="row d-block d-md-block d-lg-none ">
                            <span class="badge badge-lg badge-primary badge-rounded-circle  pt-6 pb-8 pl-6 pr-6" style="background-color: #9ED0C9 !important; border: #3D948F solid 2px;">
                              <span class=" ml-n4 mr-2 text-uppercase text-dark  font-weight-bolder" style="position: relative; left: -2px;font-size: 11px;">Owner</span>
                              <span class="  ml-n6 mr-6 pl-1  text-uppercase text-dark  font-weight-bolder" style="font-size: 11px; position: relative; left: 2px;">Approval</span>
                            </span>
                          </div>
                          <hr class=" w-100 ml-8 mt-n7 d-block d-lg-none"  style=" height: 5px; color: #1b2a4e; background-color: #1b2a4e;"> 
                        </div>
                        <div class="col-2 pl-0 ml-5 pl-2">
                          <div class="row d-block d-md-block d-lg-none ">
                            <span class="badge badge-lg badge-primary badge-rounded-circle   pt-6 pb-8 pl-6 pr-6" style="background-color: #9ED0C9 !important; border: #3D948F solid 2px;">
                              <span class="  ml-n4 mr-4 text-uppercase text-dark  font-weight-bolder" style="position: relative; left: -3px; font-size: 11px;">Review</span>
                              <span class="  ml-n5 mr-2 pl-1 text-uppercase text-dark  font-weight-bolder" style="position: relative; left: -4px; font-size: 11px;">Payment</span>
                            </span>
                          </div>
                          <hr class= "w-100 ml-8 mt-n7 d-block d-lg-none"  style=" height: 5px; color: #1b2a4e; background-color: #1b2a4e;"> 
                        </div>
                        <div class="col-2 pl-0 ml-6 pl-1">
                          <div class="row d-block d-md-block d-lg-none ">
                            <span class="badge badge-lg badge-primary badge-rounded-circle  pt-6 pb-8 pl-6 pr-6" style="background-color: #9ED0C9 !important; border: #3D948F solid 2px;">
                              <span class="  ml-n3 mr-3 pt-1 text-uppercase text-dark  font-weight-bolder" style="position: relative; left: -0px; font-size: 11px;">Finish</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO : START PLAN DETAIL JOIN CARD -->
      <div class="col-12 col-md col-lg-5 col-xl-5 mt-2 mt-md-2 mt-lg-0 mt-xl-0 pb-10 pb-md-11 pb-lg-0">
        <div class="card  bg-shade-lighter-greenish box-shadow-lighter-greenish-join-detaild-card" style="border-radius: 25px 25px;">
          <div class="card-body">
          <div class="position-relative text-right mt-n8 mr-n4 mb-5 ">
            <span class="badge badge-pill  text-white shadow-lg {% if plan.category.Name == 'Verizon' %} bg-verizon-plan-card {% elif plan.category.Name == 'T-Mobile' %} badge-T-Mobile-bg-join {% else %} badge-danger {% endif %}"  >
                <span class="h5 text-uppercase">
                    {% if  plan.get_category_average_switch_value %}
                      ${{ plan.get_category_plan_average_value_for_subscription|floatformat:2|intcomma }}/MO
                    {% else %}
                      ${{ plan.id|FindPlanFixedPrice|floatformat:2|intcomma }}/MO
                    {% endif %}
                </span>
             </span>
           </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Number of cell phone lines</label>
              <select class="form-control selectpicker border border-dark" style="border-radius: 2.375rem !important ;" id="exampleFormControlSelect1" 
              {% if  plan.total_slots == 0  %} disabled {% endif %} >
                {% with ''|center:plan.total_slots as range %}
                  {% if plan.total_slots > 4  %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  {% else %}
                    {% for _ in range %}
                      <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </select>
            </div>
            <div class="form-group mb-0">
              <div class="row">
                <div class="col col-md-7 pr-0">
                  <label for="exampleForm " class="text-left float-left overflow-wrap-break font-size-sm">Subscription Fees<button type="button" class="btn pl-0 pl-lg-1 mr-0 pr-0 pt-0 pb-0" data-toggle="popover" data-content="This helps us keep the lights on."><i class="fa fa-info-circle text-success"></i></button></label>
                </div>
                <div class="col col-md text-right mr-0 mr-md-0 pl-0">
                  <span class="card-title font-weight-bold mt-0 mt-lg-0 mb-0 font-size-sm" >$<span id="subs_Section">5</span>/month
                </span>
                </div>
              </div>
            </div>
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-7  col-md pr-0">
                    <label for="exampleForm" class="text-left float-left overflow-wrap-break  font-size-sm">Mobile Cost <button type="button" class="btn pl-0 pl-lg-1 mr-0 pr-0 pt-0 pb-0" data-toggle="popover"  data-content="Excluding taxes and fees from your carrier."><i class="fa fa-info-circle text-success"></i></button></label>
                  </div>
                  <div class="col col-md   mr-0  pl-0">
                    <span class="card-title font-weight-bold mb-0 font-size-sm text-right float-right"   id="payment" data="{% if  plan.get_category_average_switch_value %}
                    {{ plan.get_category_plan_average_value_for_subscription }}
                  {% else %}
                    {{ plan.id|FindPlanFixedPrice|intcomma }}
                  {% endif %}" >$<span id="paymentSub">{% if  plan.get_category_average_switch_value %}{{ plan.get_category_plan_average_value_for_subscription }}{% else %}{{ plan.id|FindPlanFixedPrice|intcomma }}{% endif %}</span>/month
                  </span>
                  </div>
                </div>
              </div>
              <div class="form-group border border-dark pt-2 pl-0 border-bottom-0 border-left-0 border-right-0">
                <div class="row">
                  <div class="col-4 pr-0" >
                    <label for="exampleForm" class="text-left float-left overflow-wrap-break  font-size-sm">Total</label>
                  </div>
                  <div class="col text-right mr-0 pl-0">
                    <span class="card-title font-weight-bold mt-0 font-size-sm"  id="total"
                    data="{{ plan.currently_monthly_payment_per_line }}">${{ plan.id|FindPlanFixedPrice|add:5 }}/month
                    </span>
                  </div>
                </div>
              </div>
              <!-- !  Check Test -->
              <!-- !  1:  Plan is Active or not -->
              <!-- !  2:  Number of slots for a plan is not 0 -->
              <!-- !  3:  User is not authenticated -->
              <!-- !  4:  Plan user is not equal to request user -->


              <!-- !  Check Point 1 -->
              {% if plan.status == "Active" %}
              <!-- !  Check Point 2 -->
                {% if plan.total_slots != 0 %}
                <!-- !  Check Point 3 -->
                  {% if request.user.is_authenticated %}
                    <!-- !  Check Point 4 -->
                    {% if plan.user != request.user %}
                          <div class="dropdown form-group ">
                            <button class="btn text-white bg-fresh-color dropdown-toggle font-weight-bolder col-12 col-lg-12 w-75 w-md-100 w-lg-100 h1 mx-6 mx-md-0 mx-lg-0 h1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.3125rem !important;">
                              Join
                            </button>
                            <div class="dropdown-menu text-dark  col-12 col-lg-12 w-75 w-md-100 w-lg-100 h1 mx-9 mx-md-0 mx-lg-0 px-0 py-0" aria-labelledby="dropdownMenuButton" >
                              <ul class=" border-0  list-group">
                                <li class="list-group-item list-group-item-action p-0" >
                                  <form action="{% url 'Join_Get_A_New_Number' plan.category.id plan.id %}" method="POST"> 
                                    {% csrf_token %}
                                    <input type="number" name="GET_A_NUMBER" id="GET_A_NUMBER" value="1" hidden>
                                    
                                    {% if request.user.is_authenticated %}
                                    <button class="dropdown-item text-center text-dark  h3 py-3 font-weight-bolder mx-auto font-size-sm font-size-iphone-6"  type="submit" >Get a new number</button>
                                  {% else %}
                                    <a class="dropdown-item text-center text-dark   font-weight-bolder mx-auto h3 py-3 " type="button" data-toggle="modal" href="#modalSigninHorizontal" >Get a new number</a>
                                  {% endif %}
                                  </form> 
                                </li>
                                <li class="list-group-item list-group-item-action p-0">
                                  <form action="{% url 'Join_Exising_Customer' plan.category.id plan.id %}" method="POST"> 
                                    {% csrf_token %}
                                    <input type="number" name="EXISTING_CUSTOMER" id="EXISTING_CUSTOMER" value="1" hidden>
                                    {% if request.user.is_authenticated %}
                                        <button class="dropdown-item text-center text-dark h3 py-3 font-weight-bolder mx-auto px-0 font-size-sm font-size-iphone-6" type="submit">Existing {{ plan.category.Name }} customer</button>
                                    {% else %}
                                      <a class="dropdown-item text-center text-dark font-weight-bolder mx-auto h3 py-3" data-toggle="modal" href="#modalSigninHorizontal" type="button">Existing {{ plan.category.Name }} customer</a>
                                    {% endif %}
                                    </form>
                                </li>
                                <li class="list-group-item list-group-item-action p-0" >
                                  <form action="{% url 'Join_Switch_Carrier' plan.category.id plan.id %}" method="POST"> 
                                    {% csrf_token %}
                                    <input type="number" name="SWITCHING_CARRIER" id="SWITCHING_CARRIER" hidden value="1">
                                    {% if request.user.is_authenticated %}
                                      <button class="dropdown-item text-center text-dark  font-weight-bolder mx-auto h3 py-3 font-size-sm font-size-iphone-6" type="submit" >Switching carrier</button>
                                      {% else %}
                                      <a class="dropdown-item text-center text-dark  font-weight-bolder mx-auto h3 py-3"  data-toggle="modal" href="#modalSigninHorizontal" type="button" >Switching carrier</a>
                                      {% endif %}
                                    </form>
                                </li>
                              </ul>
                            </div>
                          </div>
                    {% endif %}
                  {% else %}
                    <button class="btn text-white bg-fresh-color font-weight-bolder col-12 col-lg-12 w-50 w-md-100 w-lg-100 h1 mx-9 mx-md-0 mx-lg-0" type="button"   style="font-size: 1.3125rem !important;" data-toggle="modal" data-target="#modalSigninHorizontal">
                      Join
                    </button>
                  {% endif %}
                {% else %}
                  <div class="form-group text-right">
                    <a  href="{% url 'home' %}" class="btn text-white bg-danger   p-2 w-100"
                      type="button">Family Full! Try any other plan</a>
                  </div>
                {% endif %}
              {% endif %}
              <input id="plan_id_join" hidden value="{{ plan.id }}">
              <input id="category_id_join" hidden value="{{ plan.category.id }}">
              <input id="slots" hidden value="1">
              <input id="joiningCondition" hidden value="">
              <input type="hidden" name="g-recaptcha-response" id='recaptcha_join'>
              {{ plan.currentFamilySize|json_script:"currentFamilySize" }}
              {{ plan.total_slots|json_script:"plan_total_slots" }}
              {{ plan.get_category_plan_slots_values|json_script:"dictValues" }}
          </div>
        </div>
      </div>
      <!-- TODO : END PLAN DETAIL JOIN CARD -->
    </div>
    </div>
  </div>
</section>
{% include "Landkit/footer.html" %}
{% endwith %}
{% endautoescape %}
<script src="{% static 'Landkit/js/join.js' %}"></script>
{% endblock %}