{% extends 'Base.html' %}
{% load static humanize FindSubUser findNextMonth findNextYear findFindSubID findSubStatus FindSubObject findPaymentCurrentDay  findSubSlots findSubCancelStatus FindCategoryPlanInfo mathfilters FindPlanFixedPrice  %}
{% include "Landkit/META_TAG.html" %}
{% block title %} Join a Plan - Existing Customer {% endblock %}
{% block content %}
<style>


     /* Style the form */
#regForm {
  background-color: #ffffff;
  width: 100%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd !important;
  
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: none;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  display: none;
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  display: none;
  background-color: #4CAF50;
} 

.border-width-3{
    border-width: 3px !important;
}


.border-success {
    border-color: #579B9D !important;
}

.text-success{
  color: #579B9D !important;
}

.btn-success {
    color: #fff;
    background-color: #579B9D;
    border-color: #579B9D;
    box-shadow: none;
}

.btn-success:hover {
  color: #fff;
  background-color: #279a9e;
  border-color: #279a9e;
}


.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #279a9e;
  border-color: #279a9e;
  box-shadow: 0 0 0 0 rgba(94, 196, 166, 0.5);
}


.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #279a9e;
  border-color: #279a9e;
}


.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #279a9e;
  border-color: #279a9e;
}


.border-dark {
    border-color: #D9D9D9 !important;
}



</style>
{% include 'modals/FeedbackForms.html' with edit=False subs=request.user|FindSubObject:plan.id   %}
{% include "modals/finishing_payment_modal.html" %}
{% include "modals/payment_processing_waiting_modal.html" %}
{% include "modals/payment_error.html" %}
{% include 'modals/payment_error_modal.html' %}
<hr class="border border-success border-width-3 mt-9 mt-md-9 mt-lg-9 ml-lg-0 sticky-top" style="position: fixed !important; border-width: 10px !important;" id="progressbar">
<div class="card px-4  px-lg-10 pb-10 pb-lg-10">
  <div class="card-body p-0 p-lg-0 pt-lg-3">

    <div class="tab">
      {% include 'app/Existing_Customer_T_Mobile_Step_1.html' %}              
    </div>

    <div class="tab">
      {% include 'app/Existing_Customer_T_Mobile_Step_2.html' %}              
    </div>

    <div class="tab">
      {% include 'app/Existing_Customer_T_Mobile_Step_3.html' %}              
    </div>


    <div  style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-success  mr-4 mr-md-6 mr-lg-3 px-8 px-lg-9">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-success mr-5 px-9  px-lg-9">Continue</button>
      </div>
    </div>
    
    <div class="d-none" style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </div>
</div>
{% include "Landkit/footer.html" %} 

{% block javascript %}
<!-- ? Point to te noted -->
<!-- TODO: Hide Next Button on second tab -->
{% include "payment/payment_script_work.html" %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'music/client.js' %}"></script>
<script>
    $(document).ready(function(){
      $("#progressbar").css("width", "25%");
      
  $("#30-days-active-line-invalid, #account-owner-invalid, #financing-invalid, #30-days-active-line-no-select-option, #account-owner-no-select-option, #financing-no-select-option").hide();
    });
    
    var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  if(n==1){
    $("#progressbar").css("width", "50%");
    $("#nextBtn").hide();
  }
  else{
    $("#nextBtn").show();
  }

  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
    
    
  } 
  
  else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    $("#progressbar").css("width", "100%");
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Continue";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {

  if(n==-1){
    $("#progressbar").css("width", "25%");
  }
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");


  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  // for (i = 0; i < y.length; i++) {
  //   // If a field is empty...
  //   if (y[i].value == "") {
  //     // add an "invalid" class to the field:
  //     y[i].className += " invalid";
  //     // and set the current valid status to false:
  //     valid = false;
  //   }
  // }

if($("#option11").prop("checked") != true && $("#option12").prop("checked") != true  && $("#option21").prop("checked") != true && $("#option22").prop("checked") != true  && $("#option31").prop("checked") != true && $("#option32").prop("checked") != true ){
  // Question Number 1
  if($("#option11").prop("checked") != true && $("#option12").prop("checked") != true ){
    valid=false;
    $("#30-days-active-line-no-select-option").show();
    $("#30-days-active-line-invalid").hide();
}
else{
  valid=true;
    $("#account-owner-no-select-option").hide();
    if($("#option11").prop("checked") == true){
      $("#30-days-active-line-invalid").show();
    }
    else{
      $("#30-days-active-line-invalid").hide();
    }
}


// Question Number 2
if($("#option21").prop("checked") != true && $("#option22").prop("checked") != true ){
    valid=false;
    $("#account-owner-no-select-option").show();
    $("#account-owner-invalid").hide();
}
else{
  valid=true
    $("#30-days-active-line-no-select-option").hide();
    if($("#option21").prop("checked") == true){
      $("#account-owner-invalid").show();
    }
    else{
      $("#account-owner-invalid").hide();
    }
    
}

// Question Number 3
if($("#option31").prop("checked") != true && $("#option32").prop("checked") != true ){
    valid=false;
    $("#financing-no-select-option").show();
    $("#financing-invalid").hide();
}
else{
  valid=true;
    // $("#financing-no-select-option").hide();
    // $("#account-owner-no-select-option").hide();
    // $("#30-days-active-line-no-select-option").hide();
    $("#financing-no-select-option").hide();
    
    if($("#option31").prop("checked") == true){
      $("#financing-invalid").show();
    }
    else{
      $("#financing-invalid").hide();
    }
}

}


  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}
</script>
<script>
  $(document).ready(function(){

    

    $("#30-days-active-line-invalid, #account-owner-invalid, #financing-invalid, #30-days-active-line-no-select-option, #account-owner-no-select-option, #financing-no-select-option").hide();
    $("#option11").on("change", function(){
      $("#30-days-active-line-no-select-option").hide();
      if($(this).prop("checked") == true){
        $("#30-days-active-line-invalid").show();
        $("#active-line-response").html("No");
        $("#30-days-active-line-no-select-option").hide();
      }
    });
    $("#option12").on("change", function(){
      $("#30-days-active-line-no-select-option").hide();
      if($(this).prop("checked") == true){
        $("#30-days-active-line-invalid").hide();
        $("#active-line-response").html("Yes");
        $("#30-days-active-line-no-select-option").hide();
      }
    });
    $("#option21").on("change", function(){
      $("#account-owner-no-select-option").hide();
      if($(this).prop("checked") == true){
        $("#account-owner-invalid").show();
        $("#account-owner-response").html("No");
        $("#account-owner-no-select-option").hide();
      }
    });
    $("#option22").on("change", function(){
      $("#account-owner-no-select-option").hide();
      if($(this).prop("checked") == true){
        $("#account-owner-invalid").hide();
        $("#account-owner-response").html("Yes");
        $("#account-owner-no-select-option").hide();
      }
    });
    $("#option31").on("change", function(){
      $("#financing-no-select-option").hide();
        if($(this).prop("checked") == true){
        $("#financing-invalid").show();
        $("#leasing-phone-response").html("");
        $("#leasing-phone-response").html("No");
        $("#financing-no-select-option").hide();
      }
    });
    $("#option32").on("change", function(){
      $("#financing-no-select-option").hide();
      if($(this).prop("checked") == true){
        $("#financing-invalid").hide();
        $("#leasing-phone-response").html("");
        $("#leasing-phone-response").html("Yes");
        $("#financing-no-select-option").hide();
      }
    });
  }); 
</script>


<!-- ! Payment Model State Select Styling Changes -->
<script>
  $(document).ready(function()
  {
    $("#example5-state").on("change", function(){
      if($("#example5-state :selected").val() != "None")
      {
        $("#selectTagError").hide(); 
      }
      else{
        $("#selectTagError").show(); 
      }
    })
  });
</script>



<!-- ! NUMBER_OF_GUESTS HANDLER -->
<script>
  $(document).ready(function(){
    $.each($("span#number-of-guests"), function(){
      $(this).html("{{ NUMBER_OF_GUESTS }}");
    });
    $.each($("span#subscription-form-fees"), function(){
      $(this).html(parseInt("{{ NUMBER_OF_GUESTS }}")*5);
    });
    $.each($("span#subscription-form-monthly"), function(){
      $(this).html(parseInt("{{ NUMBER_OF_GUESTS }}") * parseInt($(this).html()));
    });
    $.each($("span#subscription-form-total"), function(){
      $(this).html(parseInt($("#subscription-form-monthly").html()) + parseInt($("#subscription-form-fees").html()));
    });
  });
</script>




{% endblock javascript %}
{% endblock %}