{% extends 'Base.html' %} {% load static %} {% block title %}Privacy Policy{% endblock %} {% block content %}
<section class="pt-9 pb-8 pb-md-14 bg-light">
  <div class="container">
    <div class="row align-items-center mb-6">
      <div class="col-12">
        <!-- Heading -->
        <h1 class="display-4 mb-2">
          Privacy Policy
        </h1>
        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-md-0">
          Last updated: June 16, 2020
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Text -->
        <p class="font-size-lg text-gray-800 mb-6 mb-md-8">
          Thanks for visiting CircledIn. This Privacy Policy describes what
          information we collect and how it’s used and shared. If you don’t
          agree with the terms of this Privacy Policy, you may not access or use
          the Services. If you have any comments or questions about this Privacy
          Policy, feel free to
          <a href="{% url 'contact' %}" class="card-link" target="_blank">contact us</a>.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          1. Core Principles
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          We want to be transparent in the information we collect. We don’t sell
          your personal information to anyone. We don’t ask for your personal
          information unless we need it to provide or improve the Services for
          you. We do not collect any personal information about you unless you
          voluntarily provide it to us. We appreciate that when you use our
          Services, you trust us with your information, and we take that
          responsibility very seriously.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          2. Collection
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          When you use the Services, we collect the following information, and
          use it only as described below:
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.1. Account Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          This may include your First Name, Last Name, address, email address
          and phone number. We use this information in the ways you would
          expect, such as to set up your Account or contact you.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.2. Mobile Account Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          This may include your Mobile Account Information such as: Account
          Number, Account Pin Number, Phone Number, Area Code, Zip Code and
          Billing Address. This information is used to transfer and maintain
          your account.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.3. Third Party Account Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          If you use Third Party Services, such as social media or photo-sharing
          services, you may provide us with your Third Party Services account
          information, such as your username (note that we don’t store any
          passwords you use to access Third Party Services). We transmit, and
          may store, such account information, only as needed to provide the
          Services, and only in accordance with the terms and policies of the
          Third Party Services.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.4. Payment Information.
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          When you initially provide or update your payment information, we
          transmit it via an encrypted connection to our Our payment system is
          audited by a PCI-certified auditor and is certified to PCI Service
          Provider Level.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.5. Communications With Us
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          When you send us emails or other communications, such as customer
          support inquiries, we maintain those communications and their contents
          so that we can resolve your inquiries or otherwise assist you.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.6. Public Comments On The Services
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          We maintain any comments, contributions to discussions or messages
          submitted to users of the Services, in order to provide the Services.
          We will post your comments on our Review/feedback section.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.7. Files You Provide Us
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          When you use the Services, we store, process and transmit the
          information you provide us. Whether it’s past billing information or
          invoice.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.8. Usage Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          This includes information about your activity on and interaction with
          the Services, such as your IP address, your device or browser type,
          the webpage you visited before coming to our sites and identifiers
          associated with your devices. This information enables us to analyze
          how the Services are being accessed and used, and to track performance
          of the Services.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.9. Location Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          Your devices (depending on your settings) may transmit location
          information to the Services. We use this information to customize,
          improve and protect the Services. For example, we may use your
          location information to determine local language preferences, or to
          geotag a post.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          2.10. Cookies And Other Technologies
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          We use these technologies to do things such as remember your
          preferences, keep you safe and improve and promote the Services. You
          can read more about how we use these technologies in our Cookie
          Policy, which is incorporated by reference into this Privacy Policy.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          3. Sharing
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          When you use the Services, we share your information only as described
          below:
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          3.1. Sharing between Hosts and Guests
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          CircledIn enables Mobile Plan owners to offer and share their mobile
          plan with other individuals. If you agree to a connection through the
          Services, we provide your information to the other party in that
          transaction as reasonably necessary to facilitate the transaction. For
          example, CircledIn provides your Mobile Account Information such as:
          Account Number, Account Pin Number, Phone Number, Area Code, Zip Code
          and Billing Address for onboarding into their account. This is when
          you decide to join the host mobile plan. Your account information is
          necessary to transfer your mobile number to their mobile plan.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          4. Links
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          This website contains links to other sites. Please be aware that we
          are not responsible for the content or privacy practices of such other
          sites. We encourage our users to be aware when they leave our site and
          to read the privacy statements of any other site that collects
          personally identifiable information.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          5. Protection
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          While no service is completely secure, we have a security team
          dedicated to keeping your information safe. We employ security
          measures such as using firewalls to protect against intruders, and
          services are hosted on the safest web service provider.
        </p>
        <!-- Text -->
        <p class="text-gray-800">
          When personal information (such as a credit card number) is
          transmitted to other websites, it is protected through the use of
          encryption. Our payment system is audited by a PCI-certified auditor
          and is certified to PCI Service Provider Level 1. This is the most
          stringent level of certification available in the payments industry.
          To accomplish this, we make use of best-in-class security tools and
          practices to maintain a high level of security.
        </p>
        <p class="text-grey-800">
          We strive to take appropriate security measures to protect against
          unauthorized access to or alteration of your personal information.
          Unfortunately, no data transmission over the Internet or any wireless
          network can be guaranteed to be 100% secure. As a result, while we
          strive to protect your personal information, you acknowledge that: (a)
          there are security and privacy limitations inherent to the Internet
          which are beyond our control; and (b) security, integrity, and privacy
          of any and all information and data exchanged between you and us
          through this Site cannot be guaranteed.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          6. Retention
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          We’ll retain your personal information for as long as we need it to
          provide you with the Services. You can ask for your personal
          information to be deleted at any time by deleting your Account or
          contacting us. Please note that there may be latency in deleting your
          personal information from our servers and backup storage, and we may
          retain your personal information in order to comply with the law,
          protect our rights, resolve disputes or enforce our agreements.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          7. Location
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          Information that you submit through the Services may be transferred to
          countries other than where you live (for example, to our servers in
          the US). We also may store information locally on the devices you use
          to access the Services. We also may transfer information to third
          parties outside the US for processing or to support the Services, and
          we require them to provide at least the same level of protection for
          your information as described in this Privacy Policy.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          8. Access
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          To modify or delete the personal information you have provided to us,
          simply log into the Services and update your profile. We may retain
          certain information as required by law or for necessary business
          purposes. On request, we’ll provide you with a copy of your personal
          information that we maintain.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          9. Children Under Thirteen
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          CircledIn does not knowingly collect personally identifiable
          information from children under the age of thirteen. If you are under
          the age of thirteen, you must ask your parent or guardian for
          permission to use this website.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          10. Communications
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          We may periodically email you service-related announcements. We’ll
          also send you emails related to your transactions. We may also send
          you marketing or promotional communications, but you can opt out of
          receiving subsequent marketing or promotional communications by
          clicking the link marked unsubscribe (or a similar phrasing) that’s
          included in those communications.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          11. End User Information
        </h3>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          11.1. Collection And Use Of End User Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          You may use the Services to create or publish Your Sites, and Your
          Sites may have End Users. We may collect, use or delete the same types
          of information described in Section 2, above, from your End Users, on
          your behalf and at your direction, and we treat such information in
          accordance with this Privacy Policy. We do this in order to enable you
          to use the Services, and to provide, improve and protect the Services.
          For example, during checkout you may ask your End Users to provide
          name, address, email address and payment information so that you can
          complete their orders.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          11.2. Your Relationship With End Users
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          You can collect, use or delete your End Users’ information at any
          time. However, you’re solely responsible for complying with any laws
          and regulations that apply to your End Users’ information, including
          without limitation the posting of your own privacy policy. We’re not
          liable for your relationship with your End Users, and we won’t provide
          you with any legal advice regarding such matters.
        </p>
        <h3 class="mb-5 ml-8 mt-1 mb-0 pb-0">
          11.3. End User Payment Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800 ml-8 mt-0 pt-0">
          Your End Users’ payment information may be processed via third party
          eCommerce Payment Processors with which you integrate your Account, in
          accordance with such eCommerce Payment Processors’ terms and policies.
          We transmit your End Users’ complete payment information when they
          initially provide or update it, only so that we can pass it along to
          the eCommerce Payment Processors you agree to use. We don’t collect or
          store your End Users’ payment information.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          12. Survival
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          The policies indicated in this privacy policy will remain effective,
          even if the Terms and the other agreements between us are terminated
          and you are no longer using the Site or any of the other CircledIn
          Services.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          13. Modifications
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          We may modify this Privacy Policy from time to time, and will post the
          most current version on our site and send email notification on
          updates.
        </p>
        <!-- Heading -->
        <h3 class="mb-5">
          14. Contact Information
        </h3>
        <!-- Text -->
        <p class="text-gray-800">
          CircledIn welcomes your questions or comments regarding this Statement
          of Privacy. If you believe that CircledIn has not adhered to this
          Statement, please contact CircledIn at:
        </p>
        <!-- Text -->
        <p class="text-gray-800">
          Email Address: support@circledin.io
        </p>
        <p class="text-grey-800">
          Effective as of June 16, 2020
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
{% include "Landkit/footer.html" %} {% endblock %}