{% load static humanize FindSubUser findNextMonth findNextYear findFindSubID findSubStatus FindSubObject findPaymentCurrentDay  findSubSlots findSubCancelStatus FindCategoryPlanInfo mathfilters findUserPhone FindPlanFixedPrice %}

<div class="col-12 col-md col-lg d-none d-md-block d-lg-block "> 
    <div class="card border border-dark border-width-3 rounded-lg">
        <div class="card-header border border-dark border-top-0 border-left-0 border-right-0 border-width-3 py-md-2 py-lg-2 pr-md-0 my-md-0  my-lg-0">
            <h2 class="card-title text-uppercase font-weight-bolder text-dark mx-md-0 text-lg-left mb-md-0 mb-lg-0">
                Order Summary
            </h2>
        </div>
        <div class="card-body px-md-1 px-lg-4">
            <div class="container pr-md-1 pr-lg-2">
                <div class="row">
                    <div class="col">
                        <p class="card-text h3 font-weight-bolder">
                            {{ plan.category }} - {{ plan.plan_name }} Plan
                        </p>
                    </div>
                </div>
                <div class="row py-md-2 py-lg-2">
                    <div class="col col-lg-10 pr-0">
                        <p class="card-text h3 overflow-wrap-break">
                            Number of cell phone lines
                        </p>
                    </div>
                    <div class="col col-lg  pl-0">
                        <p class="card-text font-weight-bolder h3 text-right text-dark float-right">
                            <span id="number-of-guests">3</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-7 col-lg pr-md-0 ">
                        <p class="card-text h3 text-left float-left">
                            Subscription Fees
                        </p>
                    </div>
                    <div class="col  col-md col-lg pl-md-0">
                        <p class="card-text font-weight-bolder h3 text-right text-dark float-right  overflow-wrap-break">
                            $<span id="subscription-form-fees">5</span>/month
                        </p>
                    </div>
                </div>
                <div class="row py-md-2 py-lg-2">
                    <div class="col">
                        <p class="card-text h3">
                            Mobile Cost
                        </p>
                    </div>
                    <div class="col pl-0">
                        <p class="card-text font-weight-bolder h3 text-right text-dark float-right">
                            $<span id="subscription-form-monthly">{{ total_amount }}</span>/month
                        </p>
                    </div>
                </div>
                <hr class="text-dark border border-dark ">
                <div class="row py-lg-2">
                    <div class="col">
                        <p class="card-text h3 font-weight-bolder text-dark">
                            Total
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text font-weight-bolder h3 text-right text-dark">
                            $<span id="subscription-form-total">35</span>/month
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>